<ion-view>
  <style type="text/css">
.scroll {
    height: 100%;
}</style>
    <ion-content style="height:100%">
        <div id="mapcurrentlocation" data-tap-disabled="true" style="display: block; background-color: #fafafa;height:50%">
        </div>
    </ion-content>
</ion-view>