<ion-view>
	<style type="text/css">
.scroll {
    height: 100%;
}</style>
    <ion-content style="height:100%">
        <div id="map" data-tap-disabled="true" style="display: block; background-color: #fafafa;height:50%">
        </div>
        <a href="javascript:google.maps.event.trigger(gmarkers['13483'],'click');" class="Lidya">Lidya</a><br/>
<a href="javascript:google.maps.event.trigger(gmarkers['10836'],'click');" class="Eka">Eka</a><br/>
<a href="javascript:google.maps.event.trigger(gmarkers['09248'],'click');" class="Subhi">Subhi</a><br/>
<a href="javascript:google.maps.event.trigger(gmarkers['15854'],'click');" class="Subhi">Rica</a><br/>
    </ion-content>
</ion-view>