<ion-view title="Thank You" cache-view="false" hide-nav-bar="true">
<ion-content class="has-header padding text-center">
<img ng-src="img/talents/64_done.png"/>
        <div class="card">
            <div class="item item-text-wrap">
                Your Request has been submited.<br/> Thanks for your request. Please wait for the approval<br/>
            </div>
        </div>

        <button class="button button-balanced button-outline button-block" ng-click="goTo('app.selfservice')">Go Back</button>
    </ion-content>
</ion-view>