<ion-view title="Print Report">
  <script id="modal.html" type="text/ng-template">
    <ion-modal-view>
        <div class="bar bar-header item-input-inset">
            <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal(0);">
                <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
            </button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" ng-model="findByNpk.search" placeholder="Search" maxlength="5">
            </label>
            <button class="button button-clear" ng-click="doRefresh(0); searchByNpk(0);">
            Search  
            </button>
        </div>
    
        <ion-content class="has-header bt-grey assertive">
            
            <ion-list>
                <ion-item ng-repeat="p in npkItems" ng-click="getValue(p.fullName,p.employeeNo,p.employment)">
                    <h3>{{p.fullName}}</h3>
                    <h4 class="positive">{{p.employeeNo}}</h4>
                </ion-item>
            </ion-list>
            <div class="item" ng-if="npkItems.length == 0 && findStatus == true && noDataShow == true">
                <h3 class="assertive">No data available</h3>
            </div>  
            <div class="row" ng-show="isLoadMoreShow">
                <button ng-disabled="isFirst;" ng-click="loadPrevNpk();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Previous</button>
                <button ng-disabled="isLast;" ng-click="loadMoreNpk();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Next</button>
            </div>      
        </ion-content>
    </ion-modal-view>
</script>

  <script id="modalLocation.html" type="text/ng-template">
    <ion-modal-view>
        <div class="bar bar-header item-input-inset">
            <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal(1);">
                <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
            </button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" ng-model="findByLocation.search" placeholder="Search">
            </label>
            <button class="button button-clear" ng-click="doRefresh(1); searchByLocation(0);">
            Search  
            </button>
        </div>
    
        <ion-content class="has-header bt-grey assertive">
            
            <ion-list>
                <ion-item ng-repeat="p in locationItems" ng-click="getValueLocation(p.name,p.extId)">
                    <h3>{{p.fullName}}</h3>
                    <h4 class="positive">{{p.name}}</h4>
                </ion-item>
            </ion-list>
            <div class="item" ng-if="locationItems.length == 0 && findStatus == true && noDataShow == true">
                <h3 class="assertive">No data available</h3>
            </div>  
            <div class="row" ng-show="isLoadMoreShow">
                <button ng-disabled="isFirst;" ng-click="loadPrevLocation();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Previous</button>
                <button ng-disabled="isLast;" ng-click="loadMoreLocation();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Next</button>
            </div>      
        </ion-content>
    </ion-modal-view>
</script>


  <script id="modalOrganization.html" type="text/ng-template">
    <ion-modal-view>
        <div class="bar bar-header item-input-inset">
            <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal(2);">
                <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
            </button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" ng-model="findByOrganization.search" placeholder="Search">
            </label>
            <button class="button button-clear" ng-click="doRefresh(2); searchByOrganization(0);">
            Search  
            </button>
        </div>
    
        <ion-content class="has-header bt-grey assertive">
            
            <ion-list>
                <ion-item ng-repeat="p in organizationItems" ng-click="getValueOrganization(p.name,p.id)">
                    <h3>{{p.name}}</h3>
                </ion-item>
            </ion-list>
            <div class="item" ng-if="organizationItems.length == 0 && findStatus == true && noDataShow == true">
                <h3 class="assertive">No data available</h3>
            </div>  


             <div class="row" ng-show="isLoadMoreShow">
                <button ng-disabled="isFirst;" ng-click="loadPrevOrganization();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Previous</button>
                <button ng-disabled="isLast;" ng-click="loadMoreOrganization();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Next</button>
            </div> 
            
        </ion-content>
    </ion-modal-view>
</script>


  <script id="modalPosition.html" type="text/ng-template">
    <ion-modal-view>
        <div class="bar bar-header item-input-inset">
            <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal(3);">
                <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
            </button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" ng-model="findByPosition.search" placeholder="Search">
            </label>
            <button class="button button-clear" ng-click="doRefresh(3); searchByPosition(0);">
            Search  
            </button>
        </div>
    
        <ion-content class="has-header bt-grey assertive">
            
            <ion-list>
                <ion-item ng-repeat="p in positionItems" ng-click="getValuePosition(p.name,p.id)">
                    <h4 class="positive">{{p.name}}</h4>
                </ion-item>
            </ion-list>
            <div class="item" ng-if="positionItems.length == 0 && findStatus == true && noDataShow == true">
                <h3 class="assertive">No data available</h3>
            </div>  



             <div class="row" ng-show="isLoadMoreShow">
                <button ng-disabled="isFirst;" ng-click="loadPrevPosition();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Previous</button>
                <button ng-disabled="isLast;" ng-click="loadMorePosition();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Next</button>
            </div> 
            
        </ion-content>
    </ion-modal-view>
</script>




  <ion-content class="has-header materialize">


    <div class="row">
      <div class="input-field col padding">
        <select ng-model="report.type" ng-change="resetData()">
          <option value="">-- Select Report --</option>
          <option value="CIO">Report Kehadiran Harian</option>
          <option value="KTK">Report Ketidakhadiran Tanpa Kabar (Berturut-turut)</option>
          <option value="KDI" ng-if="isAttendanceAdmin || isLead">Report Ketidakhadiran Departemen</option>
          <option value="KKI">Report Ketidakhadiran Individu</option>
          <option value="LVE" ng-if="isAttendanceAdmin">Report Cuti per Karyawan</option>
          <option value="PRM" ng-if="isAttendanceAdmin">Report Ijin per Karyawan</option>
          <option value="OVT">Report Overtime Plan</option>
          <option value="OVR">Report Overtime Realization</option>
          <option value="MGK" ng-if="isAttendanceAdmin">Report Mangkir</option>
          <option value="TMS" ng-if="isAttendanceAdmin">Report Time Management System</option>
          <!-- <option value="RAB" ng-if="isLead">Report Approval Bawahan</option> -->
          <option value="RAT" ng-if="isAttendanceAdmin">Report Attendance (Based On Hours)</option>
          <option value="RCT" ng-if="isAttendanceAdmin">Report Cuti</option>
          <option value="SPD" ng-if="profile.talentsAuthorities['SPD']">Report SPD</option>
        </select>
      </div>
    </div>



    <div class="row" ng-if="isAttendanceAdmin && report.type != 'CIO' && report.type != 'SPD' && report.type !=
      'MGK' && report.type != 'RCT' && report.type != 'LVE' && report.type != 'PRM' && report.type != ''">
      <div class="input-field col padding">
        <p>Search by Organization</p>
        <h4>{{report.organization}} &nbsp;</h4>
        <div class="item-icon-right">
          <button style="padding-right:38px;" class="button button-icon dark icon ion-ios-close"
            ng-click="resetOrganization();"></button>
          <button class="button button-icon dark icon ion-ios-search" ng-click="openModal(2);"></button>
        </div>
        <hr>
      </div>
    </div>




    <div class="row" ng-if="isAttendanceAdmin && report.type != 'CIO' && report.type != 'SPD' && report.type !=
      'MGK' && report.type != 'RCT' && report.type != 'LVE' && report.type != 'PRM' && report.type != '' && report.type
      != 'RAT'">
      <div class="input-field col padding">
        <p>Search by Position</p>

        <h4>{{report.position}} &nbsp;</h4>
        <div class="item-icon-right">
          <button style="padding-right:38px;" class="button button-icon dark icon ion-ios-close"
            ng-click="resetPosition();"></button>
          <button class="button button-icon dark icon ion-ios-search" ng-click="openModal(3);"></button>
        </div>
        <hr>
      </div>
    </div>




    <div class="row" ng-if="isAttendanceAdmin && report.type != 'CIO' && report.type != 'SPD' && report.type !=
      'MGK' && report.type != 'RCT' && report.type != 'LVE' && report.type != 'PRM' && report.type != ''">
      <div class="input-field col padding">
        <p>Search by Location</p>
        <h4>{{report.location}} &nbsp;</h4>
        <div class="item-icon-right">
          <button style="padding-right:38px;" class="button button-icon dark icon ion-ios-close"
            ng-click="resetLocation();"></button>
          <button class="button button-icon dark icon ion-ios-search" ng-click="openModal(1);"></button>
        </div>
        <hr>
      </div>
    </div>

    <div class="input-field col padding" ng-if="report.type == 'SPD' && report.type != ''">
      <p>Search by Type SPD</p>
      <select ng-model="report.typeSpd">
        <option value="">-- Select Status --</option>
        <option value="reguler">SPD Reguler</option>
        <option value="mutasi">SPD Mutasi</option>
        <option value="pulang kampung">SPD Pulang Kampung</option>
      </select>
    </div>

    <div class="input-field col padding" ng-if="report.type == 'SPD' && report.type != ''">
      <p>Search by Status SPD</p>
      <select ng-model="report.statusSpd">
        <option value="">-- Select Status --</option>
        <option value="In Progress">Request</option>
        <option value="Approved">Approve</option>
        <option value="Rejected">Reject</option>
      </select>
    </div>

    <div class="input-field col padding" ng-if="report.type == 'SPD' && report.type != ''">
      <p>Search by Category SPD</p>
      <select ng-model="report.categorySpd">
        <option value="">-- Select Category --</option>
        <option value="SPD Advance" selected>Advance</option>
        <option value="SPD Realization">Realization</option>
      </select>
    </div>

    <div class="row" ng-if="isAdmin && report.type == 'SPD'  && report.type != ''">
      <div class="input-field col padding">
        <p>Search by NPK</p>
        <h4>{{report.employeeNo}}-{{report.fullName}}</h4>
        <div class="item-icon-right">
          <button style="padding-right:38px;" class="button button-icon dark icon ion-ios-close"
            ng-click="resetNpk();"></button>
          <button class="button button-icon dark icon ion-ios-search" ng-click="openModal(0);"></button>

        </div>
        <hr>
      </div>
    </div>

    <div class="row"
      ng-if="(isLead || isAttendanceAdmin) && report.type != 'MGK'  && report.type != '' && report.type != 'RAT' && report.type != 'SPD'">
      <div class="input-field col padding">
        <p>Search by NPK</p>
        <h4>{{report.employeeNo}}-{{report.fullName}}</h4>
        <div class="item-icon-right">
          <button style="padding-right:38px;" class="button button-icon dark icon ion-ios-close"
            ng-click="resetNpk();"></button>
          <button class="button button-icon dark icon ion-ios-search" ng-click="openModal(0);"></button>

        </div>
        <hr>
      </div>
    </div>



    <div class="row" ng-if="isAttendanceAdmin && report.type == 'RAT'">
      <div class="input-field col padding">
        <p>Min Hour</p>
        <input type="text" name="report.minhour" ng-model="report.minhour" placeholder="0">
      </div>
    </div>






    <div class="row"
      ng-if="report.type != 'SPD' && report.type != 'KTK' && report.type != '' && report.type != 'RAT' && report.type != 'KDI' && report.type != 'KKI'">
      <div class="input-field col padding">
        <p>Year</p>
        <select ng-model="report.year">
          <option value="">-- Select Year --</option>
          <option value="{{currentYear}}">{{currentYear}}</option>
          <option value="{{yearBefore}}">{{yearBefore}}</option>
        </select>
      </div>

      <div class="input-field col padding" ng-if="report.type != 'SPD' && report.type != 'LVE' && report.type != 'PRM' &&
        report.type != 'RCT' && report.type != '' ">
        <p>Month</p>
        <!-- <p for="last_name"><b>Purpose</b></p> -->
        <select ng-model="report.month">
          <option value="">-- Select Month --</option>
          <option value="JAN">January</option>
          <option value="FEB">February</option>
          <option value="MAR">March</option>
          <option value="APR">April</option>
          <option value="MAY">May</option>
          <option value="JUN">June</option>
          <option value="JUL">July</option>
          <option value="AUG">August</option>
          <option value="SEP">September</option>
          <option value="OCT">October</option>
          <option value="NOV">November</option>
          <option value="DEC">December</option>
        </select>
      </div>
    </div>


    <div class="row"
      ng-if="report.type == 'SPD' ||report.type == 'KTK' || report.type == 'RAT' || report.type == 'KDI' || report.type == 'KKI'">
      <div class="input-field col padding">
        <p>Period</p>
        <ionic-timepicker class="button button-block button-outline button-dark text-medium"
          ng-click="openDatePicker1()">
          <span>&nbsp;&nbsp;{{report.periodStart | date:'yyyy-MM-dd'}}</span>
        </ionic-timepicker>
      </div>

      <div class="input-field col padding">
        <p>&nbsp; </p>
        <ionic-timepicker class="button button-block button-outline button-dark text-medium"
          ng-click="openDatePicker2()">
          <span>&nbsp;&nbsp;{{report.periodEnd | date:'yyyy-MM-dd'}}</span>
        </ionic-timepicker>
      </div>

    </div>

    <br /><br />



    <div class="row">
      <div class="col"></div>
      <div class="col button center padding positive-bg" style="color:white;" ng-click="downloadReport()">Download</div>
      <div class="col"></div>
    </div>






  </ion-content>
</ion-view>
