<ion-view title="Detail Request">
        <ion-content class="has-header" scroll="false">
                      <style type="text/css">
                              .upload-btn-wrapper {
                                position: relative;
                                overflow: hidden;
                                display: inline-block;
                              }
    
                              .upload-btn-wrapper input[type=file] {
                                font-size: 100px;
                                position: absolute;
                                left: 0;
                                top: 0;
                                opacity: 0;
                              }
                              .nomorAndPending{
                                background-color: grey;
                              }
                      </style>
            <br>
            <div class="row nomorAndPending" style="width: 100%;">
                <div class="col">
                    
                </div>
                <div class="col" ng-if="status != 'Request'" style="text-align: right">
                    <h5 class="energized ">{{status}}</h5>
                </div>
                <div class="col" ng-if="status == 'Request'" style="text-align: right">
                    <h5><strong>waiting for approval</strong></h5>
                </div>
            </div>
            
         
          <ion-item style="border-bottom-color: aqua;">
          <div class="row">
                <div class="col"">
                    {{description}}
                </div>
                <div class="col" style="text-align: right">
                    <h5 style="color: #949494;">{{dateRequest | date: 'dd MMM yyyy'}}</h5>
                </div>    
          </div>
          </ion-item>

          <ion-item style="border-bottom-color: aqua;">
            <div class="row upload-btn-wrapper" style="display: block">
                <div class="col">
                    Attachment
                </div>
                <br>
                <div class="col" ng-repeat="items in imagesAttach" style="width:90px;height:90px">
                    <img width="90px" height="90px" ng-src="{{items.image}}" ng-click="openImagePreview(items.image)" />
                  </div>
            
            </div>
            </ion-item>
            <ion-item style="border-bottom-color: aqua;" ng-if="status == 'Request'">
                <div class="row" style="display: block">
                    <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#FF9800" ng-click="cancel()" ng-disabled="toogling">Cancel</button>
                </div>
            </ion-item>
            <ion-item style="border-bottom-color: aqua;" ng-if="status == 'Reject'">
                <div class="row" style="display: block">
                    Reason:
                </div>
                <div class="row" style="display: block">
                    {{reason}}
                </div>
            </ion-item>
        </ion-content>
    </ion-view>     


    <!-- ng-if="isYourData && detail.processingStatus=='Request' && (detail.module=='benefit')" -->