<ion-view title="Menu DPA">
    <ion-content padding="true" class="has-header materialize" scroll="false">
       
            <div class="row text-center" style="height:40px">
                <div class="col font-thin text-medium balanced bb" ng-click="goTo('app.menudpa')"><b>Request</b></div>
                <div class="col font-thin" ng-click="goTo('app.menudpalist')"><b>List</b></div>
            </div>
   
       
            <div style="height:100%">
                <!-- {{categoryType}} -->
                <div class="row height-20 text-center stable-bg">
                        <div class="col padding">
                            <div class="card contact" ui-sref="app.daftardpa">
                                <div class="item item-text-wrap light-bg"> 
                                    <img src="img/talents/42/42-input-performance.png"><br>
                                    <span class="text-small">Daftar DPA</span> 
                                </div>
                            </div>           
                        </div>
                    
                        <div class="col padding" >
                            <div class="card contact" ui-sref="app.choicesaldodpa" ng-show="showMenu">
                                    <div class="item item-text-wrap light-bg"> 
                                            <img src="img/talents/32_overlimit.png"><br>
                                            <span class="text-small">Cek Saldo DPA</span> 
                                    </div> 
                            </div>
                        </div>      
                </div>
            </div>
        

    </ion-content>
</ion-view>