<ion-view title="About" cache-view="false">

    <ion-content class="has-header" scroll="false">

        <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
              <div class="container text-center">
              	<br><br>
              	<img src="img/talents/200x100-talentslogin.png">
              	<br><br>
                <p class="text-medium"><b>TALENTS</b> is Human Capital Cloud Based Information System, that have Personalised, Connected, and Insightful user experience and can be accessed Securely via Mobile or Website, for Purposeful Human Capital Management in your Entity.</p><br>
                <center><b>Version {{versionName}}</b>
              </div>
        </ion-scroll>
    </ion-content>
</ion-view>