<ion-view title="Approval Delegation" class="bg-lightgrey">
  <!-- modal npk -->
  <script id="modal1.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
          <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal(1);">
              <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
          </button>
          <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" ng-model="findByNpk.search" placeholder="Search" maxlength="5">
          </label>
          <button class="button button-clear" ng-click="doRefresh(1); searchByNpk(0);">
             Search  
          </button>
      </div>
    
      <ion-content class="has-header bt-grey assertive">
          
          <ion-list>
              <ion-item ng-repeat="p in npkItems" ng-click="getValue(p.fullName,p.employeeNo,1)">
                  <h3>{{p.fullName}}</h3>
                  <h4 class="positive">{{p.employeeNo}}</h4>
              </ion-item>
          </ion-list>
          <div class="item" ng-if="npkItems.length == 0 && findStatus == true">
            <h3 class="assertive">No data available</h3>
          </div>  
          <div class="row" ng-show="isLoadMoreShow">
              <button ng-click="loadMoreNpk();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Load more</button>
          </div>      
      </ion-content>
    </ion-modal-view>
  </script>

  <!-- modal name -->
  <script id="modal2.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
          <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal(2);">
              <i class="icon ion-android-close placeholder-icon"></i>
          </button>
          <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" ng-model="findByName.search" placeholder="Search">
          </label>
          <button class="button button-clear" ng-click="doRefresh(2); searchByName(0);">
             Search  
          </button>
      </div>
    
      <ion-content class="has-header bt-grey assertive">
          
          <ion-list>
              <ion-item ng-repeat="p in nameItems" ng-click="getValue(p.fullName,p.employeeNo,2)">
                  <h3>{{p.fullName}}</h3>
                  <h4 class="positive">{{p.employeeNo}}</h4>
              </ion-item>
          </ion-list>
          <div class="item" ng-if="nameItems.length == 0 && findStatus == true">
            <h3 class="assertive">No data available</h3>
          </div>  
          <div class="row" ng-show="isLoadMoreShow">
              <button ng-click="loadMoreName();" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Load more</button>
          </div>      
      </ion-content>
    </ion-modal-view>
  </script>


  <ion-nav-buttons side="right">
  </ion-nav-buttons>


  <ion-content class="has-header materialize" scroll="true">
    <form name="form" novalidate>
      <div class="row">
        <div class="input-field col">
          <p>I will delegate an approval , hereby the type</p>
          <select ng-model="requestHeader.approvalType" required>
            <option ng-repeat="approval in populateDataApprovalType" value="approval.id">{{approval.name}}</option>
          </select>
        </div>
      </div>
<!-- 
      <div class="row" style="padding-top:50px">
        <button  class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="openModal(1);">Employee</button>
      </div> -->


      <div class="row">
        <div class="input-field col">
          <p>NPK</p>
          <h4 style="margin-top: 30px;" type="text" class="validate" ng-model="requestHeader.npk" name="npk" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40" ng-click="openModal(1);">{{requestHeader.npk || "&nbsp;"}}</h4>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <p>Employee Name</p>
          <h4 style="margin-top: 30px" type="text" class="validate input-talents" ng-model="requestHeader.empName" name="empName" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40" ng-click="openModal(2);">{{requestHeader.empName || "&nbsp;"}}</h4>
          <hr>
        </div>
      </div>



      <div class="row">
        <div class="input-field col" style="margin-top:5px">
          <p>Start Date</p>
          <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker()" style="margin-top: 2px;margin-bottom: 5px; line-height: 34px;min-height: 34px;" required>
            {{requestHeader.startDate| date: "yyyy-MM-dd"}}
          </ionic-datepicker>
        </div>
        &nbsp;
        <div class="input-field col" style="margin-top:5px">
          <p>End Date</p>
          <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker1()" style="margin-top: 2px;margin-bottom: 5px; line-height: 34px;min-height: 34px;" required>
            {{requestHeader.endDate| date: "yyyy-MM-dd"}}
          </ionic-datepicker>
        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <p>With Reason</p>
          <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="2" ng-model="requestHeader.reason" maxlength="100" name="reason" ng-pattern="/^[a-zA-Z ]*$/" required></textarea>
        </div>
      </div>
      <div class="row" style="padding-top:50px">
        <button ng-disabled="form.$invalid" class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light">Submit</button>
      </div>
    </form>
  </ion-content>
</ion-view>
