<ion-view title="Category & Item" class="bg-lightgrey">
<script id="modalItem.html" type="text/ng-template">
  <ion-modal-view>
        <div class="bar bar-header item-input-inset">
            <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal();">
            <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
            </button>
        </div>
        <ion-content class="has-header materialize">
            <form name="frm" novalidate>
                <div class="item padding">
                    <div class="item item-divider">New Item</div>
                    <div class="row">
                        <div class="input-field col">
                            <p>Item No *</p>
                            <input name="patternNo" type="number" class="validate" 
                                ng-model="formItem.patternNo" required
                                maxlength="2" style="width: 50px" ng-pattern="globalConstant.regexNumeric"/>
                            <font color="red" style="font-size: 10px">
                                <span ng-show="frm.patternNo.$invalid">Only numbers are allowed</span>
                            </font>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col">
                            <p>Shift *</p>
                            <input type="text" ng-model="formItem.shiftName" disabled>
                            <div class="item-icon-right">
                                <button style="padding-right:38px;" class="button button-icon dark icon ion-ios-close" ng-click="resetShift();"></button>
                                <button class="button button-icon dark icon ion-ios-search" ng-click="openModalShift();"></button>
                            </div>
                            
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <button class="btn waves-effect button-medium waves-light button button-balanced button-block"
                            ng-click="submitFormItem()" 
                            ng-disabled="formItem.shiftId == '' || frm.$invalid"
                            style="font-weight:bold;background-color:#FF9800">SUBMIT</button>
                    </div>
                </div>
            </form>
        </ion-content>
      </ion-modal-view>
  </script>

  <ion-content class="has-header materialize" scroll="true">
    <div class="row text-center" style="height:40px">
      <div class="col font-thin" ng-class="module.type === 'general' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('general')">
        <b>General</b>
      </div>
      <div class="col font-thin" ng-class="module.type === 'detail' ? 'text-medium balanced bb' : ''"
        ng-click="chooseTab('detail')" ng-if="categoryId != 0">
        <b>Details</b>
      </div>
    </div>
    <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c"
      pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
    </ion-refresher>

    <div ng-if="module.type === 'general'">
      <form name="form" novalidate>
        <div class="list">
          <div class="item padding">
            <div class="row">
              <div class="input-field col">
                <p><b>Name *</b></p>
                <input id="name" placeholder="Enter Name" type="text" class="validate" name="name" required="true"
                  ng-model="frmCategory.name" maxlength="40">
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p><b>Description</b></p>
                <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px" rows="5"
                  placeholder="Enter Description" maxlength="500" ng-model="frmCategory.description"></textarea>
              </div>
            </div>
            <div class="row">
              <button class="btn button-medium button button-balanced button-block"
                style="font-weight:bold;background-color:#FF9800; margin-top: 25px;" ng-click="submitFormCategory()"
                ng-disabled="form.$invalid">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div ng-if="module.type === 'detail'">
      <div class="card no-animate" ng-repeat="item in listItem">
        <div class="item item-text-wrap">
          <div>
            <h2 class="lead">{{item.shift.name}}</h2>
            <p class="text-small">{{item.patternNo}}</p>
            <p class="text-small">{{item.modifiedDate | date: globalConstant.dateFormat}}</p>
          </div>
          <br />
          <p class="text-small">
            <span class="item-note positive">
              <img src="img\talents\admin\settings\edit-32px.png" ng-click="editItem(item.id);"
                style="cursor: pointer;">
              <img src="img\talents\admin\settings\deleteDocument-32px.png"
                ng-click="confirmDeleteItem(item.id);" style="cursor: pointer;">
            </span>
          </p>
        </div>
      </div>
      <div class="item" ng-if="listItem.length == 0">
        <div class="col col-100">
          <h2>No Data available</h2>
        </div>
      </div>
    </div>

  </ion-content>
  <a class="btn-floating btn-sm waves-effect waves-light green lighten-1 no-animate"
    style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="addItem();"
    ng-if="module.type === 'detail'">
    <i class="icons ion-plus"></i></a>
</ion-view>
