<ion-view class="bg-lightgrey" cache-view="true">
  <ion-nav-title>{{submodule}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-settings-strong" ng-click="openModalFilterApproval()"></button>
  </ion-nav-buttons>
  <script id="modalFilterApproval.html" type="text/ng-template">
    <ion-modal-view>
        <div class="bar bar-header item-input-inset">
          <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModalFilterApproval();">
              <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
          </button>
        </div>
    
        <ion-content class="has-header bt-grey assertive">
            <div class="item padding">
              <div class="item item-divider">Filter By</div>
              <div class="row">
                <div class="input-field col">
                  <p for="first_name">NIK / Name / Request No.</p>
                  <input type="text" placeholder="type NIK / Name / Request No. here ..." ng-model="filterApproval.ppl"
                    style="width:100%">
                </div>
              </div>
              <div class="row" ng-if="submodule=='Assignment Change'">
                <div class="input-field col">
                  <p>Action</p>
                  <select ng-model="filterApproval.action" style="height: 40px;" >    
                    <option value="">-- Select --</option>  
                    <option value="promotion">Promotion</option>  
                    <option value="demotion">Demotion</option>
                    <option value="mutation">Mutation</option>
                    <option value="terminate">Termination</option>
                    <option value="permanent">Permanent</option>
                    <option value="extend">Extend Contract</option>
                    <option value="additional">Additional Position</option>
                    <option value="release">Release Additional Position</option>
                    <option value="changeSupervisor">Change Direct Supervisor</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p for="first_name">Start Date</p>
                  <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openStartDatePicker()">
                    {{filterApproval.startDate | date: globalConstant.dateFormat}}
                  </ionic-datepicker>
                  <font color="red" style="font-size: 10px">
                    <span ng-show="filterApproval.endDate != null && (filterApproval.startDate == null || filterApproval.startDate == undefined) ">
                      Date filter must be fill completely (in pair)
                    </span>
                  </font>
                </div>
              </div>
              <div class="row">
                <div class="input-field col">
                  <p for="first_name">End Date</p>
                  <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openEndDatePicker()">
                    {{filterApproval.endDate | date: globalConstant.dateFormat}}
                  </ionic-datepicker>
                  <font color="red" style="font-size: 10px">
                    <span ng-show="filterApproval.startDate != null && (filterApproval.endDate == null || filterApproval.endDate == undefined) ">
                      Date filter must be fill completely (in pair)
                    </span>
                  </font>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect button-medium waves-light button button-balanced button-block" ng-click="doFilterApproval()">OK</button>
              </div>
            </div>
  
        </ion-content>
    </ion-modal-view>
  </script>
  <ion-content class="has-header bt-grey profile" scroll="true">
    <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c"
      pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
    </ion-refresher>
    <div ng-repeat="item in listApproval.content | filter: searchFilter ">
      <div class="item item-avatar item-text-wrap" ng-click="gotoDetailRequest(item)">
        <img ng-if="item.vwEmpAssignment.photoProfile != null" ng-src="{{item.employeeProfile}}">
        <img ng-if="item.vwEmpAssignment.photoProfile == null" src="img/talents/default_profile.png">
        <span class="item-note calm text-smaller">
          {{item.request.requestDate | date: globalConstant.dateFormatHhMm}}
        </span>
        <h2 class="text-medium">{{item.vwEmpAssignment.employeeNo}} - {{item.vwEmpAssignment.fullName}}</h2>
        <h2 style="text-transform: capitalize;">{{item.request.requestType}} - {{item.request.type}}</h2>
        <p>{{item.vwEmpAssignment.positionName}}</p>
        <p class="text-medium" ng-if="item.categoryName == 'SPD Realization' && item.request.spdAdvance != null">Total
          Biaya Advance :
          {{item.request.totalAmountAdvance}}</p>
        <p class="text-medium" ng-if="item.categoryName == 'SPD Realization' && item.request.spdAdvance == null">Total
          Biaya Advance :
          0</p>
        <p class="text-medium" ng-if="item.categoryName == 'SPD Advance'">Total Biaya Advance :
          {{item.request.totalAmount}}</p>
        <p class="text-medium" ng-if="item.categoryName == 'SPD Realization'">Total Biaya Realization :
          {{item.request.totalAmount}}</p>
        <p class="text-medium" ng-if="item.categoryName == 'SPD Realization' && item.request.spdAdvance != null">
          Selisih
          : {{item.request.selisih}}</p>
        <p class="text-medium" ng-if="item.categoryName == 'SPD Realization' && item.request.spdAdvance == null">
          Selisih : 0</p>
        <div class="row row-center no-padding no-margin">
          <div class="col">
          </div>
          <div class="col" style="text-align: right;">
            <span class="item-note positive">
              <div>
                <p class="text-medium">{{item.approverName}}</p>
              </div>
              Approval {{item.progressOverall}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row" ng-show="isLoadMoreShow" style="padding-top:0px;min-height:120px">
        <button style="height:30px" class="button button-block button-outline button-positive"
          ng-click="loadMore()">Load More Results
        </button>
      </div>
      <div class="item" ng-if="listApproval.content.length == 0">
        <div class="col col-100">
          <h2>No request available</h2>
          <p>Please Pull to refresh</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
