<ion-view title="Family">

  <ion-content padding="true" class="has-header materialize" scroll="true">

    <div class="item no-padding">
      <div class="row">
        <div class="input-field col">
          <input type="text" class="validate">
          <label>Name</label>
        </div>

      </div>
      <div class="row">
        <div class="input-field col">
          <input type="text" class="validate">
          <label>Relationship</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <input type="text" class="validate">
          <label>Place of Birth</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <input type="text" class="validate">
          <label>Date of Birth</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <input type="text" class="validate">
          <label>Blood Type</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col">
          <input type="text" class="validate">
          <label>Phone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col">
          <input type="text" class="validate">
          <label>Email</label>
        </div>
      </div>

      <div class="row">
        <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light"
          ng-click="gotoHome()">Register</button>
      </div>

    </div>

  </ion-content>

</ion-view>
