<ion-view title="Add Address">

  <ion-content padding="false" class="has-header materialize" scroll="true">
    <form name="form" novalidate>
      <div class="item no-padding">
        <div class="row">
          <div class="input-field col">
            <p>Address Type *</p>
            <select ng-model="address.populateData" ng-options="at.label for at in populateDataList track by at.value"
              required></select>
            <input ng-model="address.type" style="display: none;">
          </div>

        </div>


        <div class="row">
          <div class="input-field col">
            <p>Country *</p>
            <select ng-model="address.country">
              <option value="">-- Select --</option>
              <option ng-repeat="country in selectCountry">{{country.id}}</option>
            </select>

          </div>

        </div>



        <div class="row">
          <div class="input-field col">
            <p>Province *</p>
            <!--
                        <select ng-model="address.province">
                          <option value="">-- Select --</option>
                              <option ng-repeat="province in selectProvince">{{province.id}}</option>
                        </select>-->
            <div class="item item-icon-right" style="border:0px" modal-select ng-model="address.province"
              options="selectProvince" modal-title="Select Province" option-property="id"
              on-select="onSelectProvince()">
              {{labelProvince}}
              <i class="icon ion-chevron-right icon-accessory"></i>
              <div class="option">
                <h2>{{option.id}}</h2>
              </div>
            </div>


          </div>

        </div>
        <div class="row">
          <div class="input-field col">
            <p>City *</p>
            <input placeholder="Enter City" ng-model="address.city" type="text" class="validate" name="city"
              ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="30">
            <font color="red" style="font-size: 10px"><span ng-show="form.city.$invalid">Should not contain any special
                characters</span></font>
          </div>

        </div>
        <div class="row">
          <div class="input-field col s6">
            <p>Kecamatan *</p>
            <input placeholder="Nama Kecamatan" ng-model="address.district" type="text" class="validate" name="district"
              ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="50">
            <font color="red" style="font-size: 10px"><span ng-show="form.district.$invalid">Should not contain any
                special characters</span></font>

          </div>
          <div class="input-field col s6">
            <p>Kelurahan *</p>
            <input type="text" ng-model="address.subdistrict" placeholder="Nama Kelurahan" class="validate"
              name="subdistrict" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="30">
            <font color="red" style="font-size: 10px"><span ng-show="form.subdistrict.$invalid">Should not contain any
                special characters</span></font>

          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <p>RT *</p>
            <input id="first_name" placeholder="e.g. 01" ng-model="address.rt" type="text" class="validate" name="rt"
              ng-pattern="/^[0-9]*$/" maxlength="3">
            <font color="red" style="font-size: 10px"><span ng-show="form.rt.$invalid">Only number allowed</span></font>

          </div>
          <div class="input-field col s6">
            <p>RW *</p>
            <input type="text" ng-model="address.rw" placeholder="e.g. 02" class="validate" name="rw"
              ng-pattern="/^[0-9]*$/" maxlength="3">
            <font color="red" style="font-size: 10px"><span ng-show="form.rw.$invalid">Only number allowed</span></font>

          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <p>Address *</p>
            <textarea placeholder="Enter your Address detail" ng-model="address.address" class="materialize-textarea"
              name="address" ng-pattern="/^[a-zA-Z0-9., ]*$/" maxlength="120"></textarea>
            <font color="red" style="font-size: 10px"><span ng-show="form.address.$invalid">Should not contain any
                special characters</span></font>

          </div>
        </div>
        <div class="row">
          <div class="input-field col">
            <p>Stay Status *</p>
            <select ng-model="address.stayStatus">
              <option value="">-- Select --</option>
              <option ng-repeat="stayStatus in selectStayStatus">{{stayStatus.id}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col">
            <p>ZIP Code</p>
            <input ng-model="address.zipCode" placeholder="e.g. 4546" type="text" class="validate" name="zipcode"
              ng-pattern="/^[0-9]*$/" maxlength="10">
            <font color="red" style="font-size: 10px"><span ng-show="form.zipcode.$invalid">Only number allowed</span>
            </font>

          </div>
        </div>
        <div class="row">
          <div class="input-field col">
            <p>Phone</p>
            <input ng-model="address.phone" placeholder="Enter Phone Number" type="text" class="validate" name="phone"
              ng-pattern="/^[0-9]*$/" maxlength="20">
            <font color="red" style="font-size: 10px"><span ng-show="form.phone.$invalid">Only number allowed</span>
            </font>

          </div>
        </div>

        <div ng-if="isEdit != true">
          <div class="item item-divider">Attach Supporting Document</div>
          <div class="row" ng-show="appMode=='mobile'">
            <button class="button button-block button-outline button-positive" ng-click="addPicture()"><i
                class="icon ion-ios-camera-outline"></i> Add Attachment</button>
          </div>
          <div class="row" ng-show="appMode!='mobile'">
            <input id="inputImage" type="file" accept="image/*" ng-model="addr.imagesData" image="addr.imagesData"
              resize-max-height="1280" resize-max-width="720" resize-quality="0.8" resize-type="image/jpg"
              multiple="multiple" ng-image-compress />
          </div>
          <div class="row post" ng-show="appMode=='mobile'">
            <div class="col" style="height:90px;width:90px" ng-repeat="items in addr.images">
              <img height="90px" width="90px" ng-src="{{items.image}}" />
              <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
            </div>
          </div>
          <div class="row post" ng-show="appMode!='mobile'">
            <div class="col" style="height:90px;width:90px" ng-repeat="item in addr.imagesData">
              <img height="90px" width="90px" ng-src="{{item.compressed.dataURL}}" />
              <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
            </div>
          </div>
          <div class="row center" ng-show="appMode=='mobile'">
            <div class="col" style="max-height:90px;max-width:90px" ng-if="addr.images.length==0">
              <img ng-src="{{image}}" height="90px">
            </div>
          </div>
          <div class="row center" ng-show="appMode!='mobile'">
            <div class="col" style="max-height:90px;max-width:90px" ng-if="addr.imagesData==0">
              <img ng-src="{{image}}" height="90px">
            </div>
          </div>
        </div>
        <h4 class="assertive">*Mohon lampirkan KK dan KTP</h4>


        <div class="row">
          <button
            class="btn button-medium waves-effect waves-light button button-balanced  button-block waves-effect waves-light"
            style="font-weight:bold;background-color:#FF9800" ng-click="submitForm(address.populateData.value)"
            ng-disabled="form.$invalid">Submit</button>
          <!-- <button class="btn button-medium waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#FF9800" ng-click="submitForm(address.populateData.value)" ng-disabled="false">Submit</button> -->
        </div>

      </div>
    </form>
  </ion-content>

</ion-view>
