<ion-view title="{{locationName}}" class="bg-lightgrey"  cache-view="false">

 <!-- modal employee-npk -->
  <script id="modalnpk.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
          <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModal();">
              <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
          </button>
      </div>
    
      <ion-content class="has-header bt-grey assertive">
        <div class="row">
          <div class="input-field col">
            <p>Search By Npk</p>
            <h4 style="margin-top: 30px" type="text" class="validate input-talents" ng-model="reassign.employeeNo" name="reassign" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40" ng-click="openModalSearch();">{{reassign.employeeNo}}</h4>
            <input type="hidden" ng-model="reassign.id" name="reassign.id" />
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col" style="padding-top:10px;">
            <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="reassignSubmit(reassign.npk, reassign.id);">SAVE</button>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>



    <script id="modalsearch.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header item-input-inset">
          <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModalSearch();">
              <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
          </button>
          <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" ng-model="findByNpk.search" placeholder="Search" maxlength="5">
          </label>
          <button class="button button-clear" ng-click="searchByNpk(findByNpk.search);">
            Search  
          </button>
      </div>
    
      <ion-content class="has-header bt-grey assertive">
          
          <ion-list>
              <ion-item ng-repeat="p in npkItems" ng-click="setNpk(p.employeeNo)">
                  <h3>{{p.fullName}}</h3>
                  <h4 class="positive">{{p.employeeNo}}</h4>
              </ion-item>
          </ion-list>
          <div class="item" ng-if="totalRecord == 0">
            <h3 class="assertive">No data available</h3>
          </div>  
     
      </ion-content>
    </ion-modal-view>
  </script>


    <ion-content class="has-header bt-grey profile" scroll="false">
        <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
            <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down"
                on-refresh="refresh()">
            </ion-refresher>
            <div>
                <div ng-repeat="item in requests">
                    <div class="item item-text-wrap item-icon-right" ng-click="reassignPic(item.id, item.employeeNo)">
                        <h2>PIC Medical</h2>
                        <h3 class="lead">{{item.employeeNo}} - {{item.employeeName}}</h3>
                        <i class="icon ion-ios-compose-outline"></i>
                    </div>
                </div>
                
            </div>
        </ion-scroll>
    </ion-content>

</ion-view>