<ion-view title="Daftar DPA">
    <ion-content class="has-header" scroll="false">
                  <style type="text/css">
                          .upload-btn-wrapper {
                            position: relative;
                            overflow: hidden;
                            display: inline-block;
                          }

                          .upload-btn-wrapper input[type=file] {
                            font-size: 100px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            opacity: 0;
                          }
                  </style>

      <ion-item style="border-bottom-color: #000; margin-bottom: 10px; border-top-color: #000; margin-top: 10px;" >
      <div class="row">
        <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#FF9800" ng-click="downloadForm()"  ng-disabled="toogling">Download Form</button>
        </div>
      </ion-item>
    
    
      <div class="item item-divider" ><center>Attach Supporting Document</center></div>
      <ion-item style="border-bottom-color: #000; margin-bottom: 10px; border-top-color: #000 ">
      <div class="row upload-btn-wrapper" style="display: block">

           <button class="button button-block button button-outline button-positive" style="font-weight:bold;"><img src="img/talents/no_tour_photo_small.png"> Add Attachment</button>

           <input ng-click="" name="file" upload id="inputImage" type="file" accept="image/*" ng-model="requestHeader.imagesData" image="requestHeader.imagesData" resize-max-height="1280" resize-max-width="720" resize-quality="0.8" resize-type="image/jpg" ng-image-compress ng-disabled="toogling" />

      </div>



      <div class="row post">
            <div class="col" style="height:90px;width:90px" ng-if="requestHeader.imagesData.length > 0">
              <img height="90px" width="90px" ng-src="{{requestHeader.imagesData[0].compressed.dataURL}}" />
              <button class="remove" ng-click="removeChoice()"  type="reset">-</button>
            </div>
      </div>

      <div class="row upload-btn-wrapper" style="display: block">
      <div class="col" style="max-height:90px;max-width:90px" ng-if="requestHeader.imagesData.length==0">
              <img ng-src="{{image}}" height="90px">
      </div>

      <div class="row" style="display: block">
        <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#FF9800" ng-click="upload()" ng-disabled="toogling">Upload Form</button>
        <p class="materialize-red-text justified no-padding no-margin"><small style="font-size : 65%;">*File Size Maks. 300 KB, File Type JPG, PNG dan PDF</small></p>
      </div>

      </div>
        </ion-item>
    </ion-content>
</ion-view>     