<ion-modal-view title="Bank Account History" style="height: 100%;" >
    <ion-header-bar>
      <h1 class="title">Your Bank Account History</h1>

       <button class="button button-icon icon ion-android-close" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content class="has-header bt-grey assertive">
        <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
            <div class="item item-avatar item-text-wrap" ng-if="history != null" ng-repeat="hs in history">
	           <div class="row">
                    <div class="col">
                      <h2>Method Payment</h2>
        	          <p>Bank Transfer</p>
                      <h2>Change Date</h2>
                      <p>{{hs.changeDate}}</p>
                      <h2>Nama bank</h2>
                      <p>{{hs.bankNameTrans}}</p>
                    </div>
                    <div class="col">
                      <h2>Cabang Bank </h2>
                      <p>{{hs.bankBranch}}</p>
                      <h2>Atas Nama</h2>
                      <p>{{hs.accountName}}</p>
                      <h2>Nomor Rekening</h2>
                      <p>{{hs.bankAccount}}</p>
                    </div>
                </div>
        	</div>

        	<div class="item item-avatar item-text-wrap" ng-if="history == null" >
	          <h2>Data History Is Empty</h2>
        	</div>
        </ion-scroll>
    </ion-content>
</ion-modal-view>