<ion-view title="My HR" class="bg-lightgrey">

    <ion-content class="has-header bt-grey profile" >
        <ion-refresher pulling-text="Pull to refresh"
             refreshing-text="Loading..."
             refreshing-icon="ion-loading-c"
             pulling-icon="ion-ios7-arrow-thin-down"
             on-refresh="refresh()">
        </ion-refresher>
        
        <div class="header">
            <img ng-src="{{user.photo}}">
           
            <!-- <h2 class="lead text-medium"><b>{{profile.employeeTransient.name}}</b></h2>-->
            <h5><b>{{profile.employeeTransient.assignment.employeeNo}} - {{profile.employeeTransient.name}}</b></h5>
            <p class="text-small">{{profile.employeeTransient.assignment.jobTitleName}}</p>
            <p class="text-small">{{profile.employeeTransient.assignment.employeeStatus}} - {{profile.employeeTransient.assignment.legalEntityName}}</p>
           
        </div>
        <div class="row height-20 text-center stable-bg">
            <div class="col padding">
                <div class="card contact" ui-sref="app.biodata">
                    <div class="item item-text-wrap light-bg">
                        <!-- <i class="icon ion-information-circled"></i>-->
                         <img src="img/talents/42/42_information.png"><br>
                        <span class="text-small">Biodata</span> 
                    </div>
                </div>
            </div>
            <div class="col padding">
                <div class="card contact" ui-sref="app.family">
                    <div class="item item-text-wrap light-bg">
                        <!--<i class="icon ion-person-stalker"></i>-->
                         <img src="img/talents/42/42_family.png"><br>
                        <span class="text-small">Family</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row height-20 text-center stable-bg">
            <div class="col padding">
                <div class="card contact" ui-sref="app.address">
                    <div class="item item-text-wrap light-bg">
                        <!--<i class="icon ion-ios-chatboxes-outline"></i>-->
                        <img src="img/talents/42/42_address.png"><br>
                        <span class="text-small">Address</span> 
                    </div>
                </div>
            </div>
            <div class="col padding">
                <div class="card contact" ui-sref="app.certification">
                    <div class="item item-text-wrap light-bg">
                        <img src="img/talents/42/42_certificate.png"><br>
                        <span class="text-small">Certificate</span> 
                    </div>
                </div>
            </div>
        </div>
        
    </ion-content>
</ion-view>