<ion-view view-title="Leave Request" class="header" >

  <ion-content padding="true" class="has-header materialize" scroll="true" style="font-size:12px"> 


  
<style>
    .pinggiran{
    border: 1px solid black;
    border-color: black;
    background-color: black;
    color: white;
    height: 35px;
    }

    .pinggiran3{
    border: 2px solid black;
    border-color: grey;
    background-color: white;
    color: red;
    height: 60px;
    }

    .pinggiran4{
    border: 2px solid black;
    border-color: grey;
    background-color: white;
    color: #82a810;
    height: 60px;
    }

    .pinggiran5{
    border: 2px solid black;
    border-color: grey;
    background-color: white;
    color: green;
    height: 60px;
    }  
</style>

<br>

<div >

    <a class="item item-thumbnail-left" >
      <img src="img/users/1.jpg">
      <h2>{{aprvs.Name}}</h2>
      <p>{{aprvs.Position}}</p>
      <p>{{aprvs.Part}}</p>
      <p>{{aprvs.Place}}</p>
    </a>

</div>

<br>
<br>
<center class ="pinggiran">
<div class="col" >Leave Overview</div>
</center>


<center  class ="pinggiran2">
<div class="row">


 <div class="col pinggiran5">{{aprvs.Approved}} <br>approved</div>
 <div class="col pinggiran4">{{aprvs.Requested}} <br>requested</div>
 <div class="col pinggiran3">{{aprvs.Rejected}} <br>rejected</div>
 
</div>
</center>



  <center>

<a href="#/app/requestLeave">
  <button class="button button-positive Entitlement" >
  Leave request
    </button>
</a>

    <button class="button button-positive Entitlement" >
    Entitlement
    </button>

</center>
  
  </ion-content>
</ion-view>