<ion-view title="Downloads" class="bg-lightgrey">

    <ion-content class="has-header bg-lightgrey">

        <div>
            <h5 style="color: black;text-align: center;margin-top:5%;">Redirecting, please wait...</h5>
        </div>
        <div style="text-align:center; margin-top: 135%;">
            <button class="button button-small button-box" ng-click="goToLogin();">Go to login page</button>
        </div>
    </ion-content>

</ion-view>