<ion-view title="Forget Password" class="header">
  <ion-header-bar class="positive-bg">
    <div class="row text-center">
      <div class="col" ui-sref="login">
        <i class="ion-ios-arrow-back white-text left text-large font-thin"></i>
        <p class="white-text left text-medium">Login</p>
      </div>
      <div class="col">
        <p class="white-text center text-large font-thin">Forget Password</p>
      </div>
      <div class="col"></div>
    </div>
  </ion-header-bar>

  <ion-content class="materialize" scroll="true" style="font-size:12px">

    <div class="item padding">
      <!-- <div class="row">
                <div class="input-field col">
                    <p for="first_name">New Password</p>
                    <input id="first_name" type="{{inputType}}" class="validate" ng-model="password.newPassword"  maxlength="20">
                    <input type="checkbox" id="checkbox" ng-click="hideShowPassword()" /> 
                    <div>
                      <label for="checkbox"><i class="icon ion-eye small placeholder-icon"></i></label>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="input-field col">
                    <p for="first_name">Confirm New Password</p>
                    <input id="last_name" type="{{inputType}}" class="validate" ng-model="password.confirmPassword"  maxlength="20">
                    
                </div>
            </div> -->


      <ion-list>
        <label class="item item-input item-borderless">
          <input type="{{inputType}}" placeholder="New Password" ng-model="password.newPassword" maxlength="20"
            required>
          <input type="checkbox" id="checkbox" ng-click="hideShowPassword()" />
          <div>
            <label><i class="icon ion-eye small placeholder-icon"></i></label>
          </div>
        </label>
        <label class="item item-input item-borderless">
          <input type="{{inputTypeConfirm}}" placeholder="Confirm Password" ng-model="password.confirmPassword"
            maxlength="20" required>
          <input type="checkbox" id="checkbox1" ng-click="hideShowPasswordConfirm()" />
          <div>
            <label><i class="icon ion-eye small placeholder-icon"></i></label>
          </div>
        </label>
      </ion-list>
      <div class="row">
        <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light"
          ng-click="sendChangePassword()" style="font-weight:bold;background-color:#FF9800">Send</button>
      </div>
    </div>

  </ion-content>

</ion-view>
