<ion-view title="Forgot Password">

    <ion-content padding="true" class="has-header materialize">
        
        <div class="item no-padding">
            <div class="row">
                <div class="input-field col">
                    <input id="first_name" type="text" class="validate" >
                    <label for="first_name">Enter your email address</label>
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col">
                    <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="gotoHome()">Send</button>
                </div>
            </div>
            

        </div>

        </ion-list>
    </ion-content>

</ion-view>