<ion-view title="Select Category">
  <ion-content class="has-header" scroll="true">
    <div class="list">

      <!-- <div class="list" style="padding:0px 0px" ng-repeat="item in categories" ng-click="goToLeaveForm(item.categoryType)">-->
      <!-- feature tester tapi grade nya 1 - 3 -->
      <!-- <div ng-if="gradeNominal < 4">
        <div class="item item-icon-left item-icon-right" ng-repeat="item in categories" ng-click="goToLeaveForm(item.categoryType)" ng-show="item.id != 23 && item.id != 19">
            <i class="icon"><img ng-src="{{item.icon}}"></i>
            <div class="inner-content">
                <h2 class="balanced text-medium"><b>{{item.categoryType}}</b></h2>
                <p class="text-small">{{item.description}}</p>
            </div>
            
            <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
    </div> -->

      <!-- feature tester : bisa liat overtime -->
      <div>
        <div class="item item-icon-left item-icon-right" ng-repeat="item in categories"
          ng-click="goToLeaveForm(item.categoryType)" ng-show="item.id != 23" ng-if="gradeNominal < 4">
          <i class="icon"><img ng-src="{{item.icon}}"></i>
          <div class="inner-content">
            <h2 class="balanced text-medium"><b>{{item.categoryType}}</b></h2>
            <p class="text-small">{{item.description}}</p>
          </div>

          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>

        <div class="item item-icon-left item-icon-right" ng-repeat="item in categories"
          ng-click="goToLeaveForm(item.categoryType)" ng-show="item.id != 23 && item.id != 19"
          ng-if="gradeNominal >=4 ">
          <i class="icon"><img ng-src="{{item.icon}}"></i>
          <div class="inner-content">
            <h2 class="balanced text-medium"><b>{{item.categoryType}}</b></h2>
            <p class="text-small">{{item.description}}</p>
          </div>

          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </div>

      <!-- bukan feature tester : gak bisa liat overtime -->
      <!-- <div ng-if="!isFeatureTester">
        <div class="item item-icon-left item-icon-right" ng-repeat="item in categories"
          ng-click="goToLeaveForm(item.categoryType)" ng-show="item.id != 23 && item.id != 19 && item.id != 24">
          <i class="icon"><img ng-src="{{item.icon}}"></i>
          <div class="inner-content">
            <h2 class="balanced text-medium"><b>{{item.categoryType}}</b></h2>
            <p class="text-small">{{item.description}}</p>
          </div>

          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </div> -->

      <!-- </div>-->

      <div class="item" ng-if="categories.length == 0">
        <div class="col col-100">
          <h2>No Category available</h2>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
