
<ion-view title="#{{leave.reqNo}}" class="bg-lightgrey">
<ion-content class="has-header" scroll="true">
<div class="list no-padding">

    <div class="item item-divider" style="margin-top:10px"><span class="pull-left">{{leave.categoryType}}</span><span class="pull-right text-small energized"><b>{{leave.status}}</b></span></div> 
          <div class="item item-icon-left text-small" href="#">
                <i class="icon ion-ios-list-outline text-larger"></i>
                 <h3>Description</h3>
                <p>{{leave.typeDesc}}</p>
              </div>
              <div class="item item-icon-left text-small" href="#" ng-if="leave.categoryType != 'Overtime'">
                <i class="icon ion-calendar text-larger"></i>
                <h3>Date</h3>
                <p>{{leave.startDate | date: 'dd MMM'}}  - {{leave.endDate | date: 'dd MMM yyyy'}}</p>
              </div>
              <div class="item item-icon-left text-small" href="#" ng-if="leave.categoryType == 'Overtime'">
                <i class="icon ion-calendar text-larger"></i>
                <h3>Time</h3>
                <p>{{leave.startDateInTime |  date: 'dd MMM HH:mm'}} - {{leave.endDateInTime | date: 'dd MMM HH:mm'}}</p>
              </div>
              
              <div class="item item-icon-left text-small" href="#">
                <i class="icon ion-clock text-larger"></i>
                <h3>Attendance In - Out</h3>

                <p>
                {{leave.attendanceInTime | date: 'HH:mm'}}  - {{leave.attendanceOutTime | date: 'HH:mm'}}</p>
              </div>
              <div class="item item-text-wrap item-icon-left text-small" href="#" ng-if="leave.categoryType != 'Overtime'">

                <i class="icon ion-android-walk text-larger"></i>
                <h3>Total</h3>
                <div class="row">
                    <div class="col-50 text-left"><b>{{leave.totalAmount}}</b>&nbsp; Day </div>
                </div>
              </div>

              <div class="item item-text-wrap item-icon-left text-small" href="#" ng-if="leave.categoryType == 'Overtime'">

                <i class="icon ion-android-walk text-larger"></i>
                <h3>Total</h3>
                <div class="row">
                    <div class="col-50 text-left"><b>{{leave.overtimeIn}}</b>&nbsp; Min </div>
                </div>
              </div>
              
              <div class="item item-icon-left text-small" href="#">

                <i class="icon ion-android-textsms text-larger"></i>
                <h3>Remark</h3>
                <p>{{leave.remark}}</p>
              </div>
</div>
<div class="row" ng-if= "header.dataApproval.processingStatus=='Request'" >
    <button class="btn button-small  waves-effect waves-light button button-calm  button-block waves-effect waves-light" ng-click="confirmCancel(header.dataApproval.id)">Cancel</button>
</div>
<div class="row" ng-if="isHr==true && header.status=='approved'">
    <button class="btn button-small waves-effect waves-light button button-calm  button-block waves-effect waves-light" ng-click="confirmReject(header.dataApproval.id)">Reject</button>
</div>   
</ion-content>
</ion-view>