<ion-view title="Absence Transaction">
  <ion-content class="profile has-header" padding="false" scroll="true">
    <form name="form" novalidate>
      <div class="list">
        <div class="item padding">
          <div class="row">
            <div class="input-field col">
              <p><b>START DATE</b></p>
              <span>{{absenceDetail.startDate | date:'yyyy-MM-dd'}}</span>
              <input type="hidden" name="startDate" ng-model="absenceDetail.startDate">
            </div>
          </div>
          <div class="row">
            <div class="input-field col">
              <p><b>TYPE</b></p>
              <select ng-model="absenceDetail.type">
                <option value="">-- Select Category --</option>
                <option ng-repeat="list in listType" value="{{list.type}}">{{list.typeLabel}}</option>
              </select>
            </div>
          </div>
          <div class="row" ng-show="absenceDetail.type == 'PDT' || absenceDetail.type == 'PPLC'">
            <div class="input-field col" ng-show="absenceDetail.actualInTime != NULL">
              <p><b>IN</b></p>
              <span>{{absenceDetail.actualInTime | timeWithoutSecond}}</span>
              <input type="hidden" name="actualInTime" ng-model="absenceDetail.actualInTime">
            </div>&nbsp;
            <div class="input-field col" ng-show="absenceDetail.actualInTime == NULL">
              <p><b>IN</b></p>
              <span>-</span>
              <input type="hidden" name="actualInTime" ng-model="absenceDetail.actualInTime">
            </div>&nbsp;
            <div class="input-field col" ng-show="absenceDetail.actualOutTime != NULL">
              <p><b>OUT</b></p>
              <span>{{absenceDetail.actualOutTime | timeWithoutSecond}}</span>
              <input type="hidden" name="actualOutTime" ng-model="absenceDetail.actualOutTime">
            </div>
            <div class="input-field col" ng-show="absenceDetail.actualOutTime == NULL">
              <p><b>OUT</b></p>
              <span>-</span>
              <input type="hidden" name="actualOutTime" ng-model="absenceDetail.actualOutTime">
            </div>
          </div>
          <div class="row">
            <div class="input-field col">
              <p for="last_name"><b>REMARK</b></p>
              <textarea class="form-control textarea-border" maxlength="500" ng-model="absenceDetail.remark" row="2"
                placeholder="Contoh : Deskripsikan keterangan lebih detail..."></textarea>
            </div>&nbsp;
          </div>

          <div class="list">
            <p>ATTACHMENT</p>
            <div class="row" ng-show="appMode=='mobile'">
              <button class="button button-block button-outline button-positive" ng-click="addPicture()"><i
                  class="icon ion-ios-camera-outline"></i> Add Attachment</button>
            </div>
            <div class="row" ng-show="appMode=='web'">
              <input id="inputImage" type="file" accept="image/*" ng-model="absenceDetail.attachments"
                image="absenceDetail.attachments" resize-max-height="1280" resize-max-width="720" resize-quality="0.8"
                resize-type="image/jpg" multiple="multiple" ng-image-compress />
            </div>
            <div class="row post" ng-show="appMode=='mobile'">
              <div class="col" ng-repeat="items in images" style="height:90px; width:90px">
                <img height="90px" ng-src="{{items.image}}" />
                <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
              </div>
            </div>
            <div class="row post" ng-show="appMode=='web'">
              <div class="col" ng-repeat="item in absenceDetail.attachments" style="height:90px; width:90px">
                <img style="height: 90px;" ng-src="{{item.compressed.dataURL}}" />
                <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
              </div>
            </div>
            <div class="row center" ng-show="appMode=='mobile'">
              <div class="col" style="max-height:90px; max-width:90px" ng-if="images.length==0"><img
                  ng-src="{{defaultImage}}" height="90px"></div>
            </div>
            <div class="row center" ng-show="appMode=='web'">
              <div class="col" style="max-height:90px; max-width:90px" ng-if="absenceDetail.attachments==0"><img
                  ng-src="{{defaultImage}}" height="90px;"></div>
            </div>
            <h4 class="assertive" style="white-space: normal;">*Batas koreksi absen bulan lalu adalah sampai tanggal 5
              bulan ini</h4>
            <br />
            <div class="row">
              <button class="btn button-medium button button-balanced  button-block"
                style="font-weight:bold;background-color:#FF9800" ng-click="submitForm()"
                ng-disabled="form.$invalid">SUBMIT</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
