<ion-view title="Time Management">
    <ion-content class="has-header" scroll="true">
        <div  class="bg-lightgrey">
              <!--   <div class="card">
                     <div class="item item-divider" >Total Request</div>
                     <center>
                        <div class="row padding">
                             <div class="col">
                                <div class="circle" style="border: 1px solid  #ffc900;"><h3 class="energized posisi">{{total.leave}}</h3>
                                <p class="text-smaller" style="font-size:0.6em !important">Leave</p></div> 
                             </div>

                            <div class="col">
                                    <div class="circle" style="border: 1px solid #33cd5f;"><h3 class="balanced posisi">{{total.sick}}</h3>
                                <p class="text-smaller" style="font-size:0.6em !important">Sick</p></div> 
                             </div>

                             <div class="col">
                                <div class="circle" style="border: 1px solid #ef473a;"><h3 class="assertive posisi">{{total.permission}}</h3>
                                <p class="text-smaller" style="font-size:0.6em !important">Permission</p></div> 
                            </div>
                        </div>
                    </center>
                </div> --> <!-- di hidden dulu -->

                 <div class="card">
                    <div class="item item-divider" >Quick Action</div>
                    <div class="item no-padding">
                        <center>
                        <div class="row">
                            <div class="col">
                                <div ng-click="goToPage('app.leaves')" class="item-text-wrap light" style="padding: 5px;" style="padding: 5px;">
                                    <img src="img/talents/attendance-48x48.png"><br>
                                    <span class="dark" style="font-size: 12.5px;">List</span>
                                </div>
                            </div>
                            <div class="col">
                                <div ng-click="goToPage('app.chooseleavecategory')"class="item-text-wrap light" style="padding: 5px;" style="padding: 5px;">
                                    <img src="img/talents/leave-48x48.png"><br>
                                    <span class="dark" style="font-size: 12.5px;">Request</span>
                                </div>
                            </div>
                        </div>
                        </center>
                    </div>
                </div>
                <div class="item item-divider" >Waiting Approval</div>
                <div class="list" >
                    <div class="item" ng-repeat="item in leaves" >
                        
                        <h5 style="color: #949494;">{{item.startDate | date: 'dd MMM'}} - {{item.endDate | date: 'dd MMM yyyy'}}</h5>
                        <h3 class="thicker">{{item.categoryType}}</h3>
                    </div>

                    <div class="item" ng-if="leaves.length==0" >
                        <div class="col col-100">
                            <h3>No request available</h3>
                            <p>You may don't have pending leave request</p>
                        </div>  
                    </div>

                </div>

            </div>
        </div>
    </ion-content>
</ion-view>