<ion-view title="Detail Certification" class="bg-lightgrey">

    <ion-nav-buttons side="right">
        <!-- <button class="button button-dark button-clear icon ion-ios-compose-outline" ui-sref="app.edit-biodata"></button>-->
    </ion-nav-buttons>

    <ion-content class="has-header bt-grey profile" scroll="true">
        
        <div class="list">
            <div class="item item-text-wrap" >
                <p class="text-small">No</p>
                <h2 class="lead text-small" >{{certification.no}}</p>
            </div>
            <div class="item item-text-wrap" >
                <p class="text-small">Name</p>
                <h2 class="lead text-small" >{{certification.name}}</p>
            </div>
            <div class="item item-text-wrap" >
                <p class="text-small">Type</p>
                <h2 class="lead text-small" >{{certification.type}}</h2>
            </div>
            <div class="item item-text-wrap" >
                <p class="text-small">Year</p>
                <h2 class="lead text-small" >{{certification.year}}</h2>
            </div>
            <div class="item item-text-wrap" >
                <p class="text-small">Principle</p>
                <h2 class="lead text-small" >{{certification.principle}}</h2>
            </div>
            <div class="item item-text-wrap" >
               <p class="text-small">Description</p>
               <h2 class="lead text-small" >{{certification.description}}</h2>
            </div>
            <div class="item item-icon-right" ng-click="goToViewImage(certification.id)" >
                <h2 class="talents">View Image</h2>
                <i class="icon ion-ios-arrow-right pull-right"></i>
            </div>
           
        </div>
    </ion-content>
</ion-view>