<ion-view title="Assign By Employee" class="bg-lightgrey">
  <ion-nav-buttons side="right">
    <button class="btn btn-success" ng-if="attendanceGroup.id != null" ng-click="saveData(attendanceGroup.id)">
      SAVE DATA
    </button>

    <button class="btn btn-success" ng-if="attendanceGroup.id == undefined" ng-click="saveData(0)">
      SAVE DATA
    </button>
  </ion-nav-buttons>
  </div>
  <ion-content class="has-header bt-grey profile" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <div class="item no-padding">
        <form name="form" novalidate>
          <div class="list">
            <div class="row">
              <div class="input-field col">
                <p>Employee</p>
                <input id="first_name" placeholder="Enter Code" type="text" class="validate" name="employeeId"
                  ng-model="employeeName" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" style="width: 100%;" disabled>

                <input type="hidden" ng-model="attendanceGroup.employeeId">
              </div>
            </div>


            <div class="row">
              <div class="input-field col">
                <p>Attendance Group</p>
                <select ng-model="populateData" ng-change="getData(populateData)"
                  ng-options="ag.groupName for ag in attendancegroupList track by ag.id"></select>


                <input id="last_name" type="hidden" class="validate" name="groupId" ng-model="attendanceGroup.groupId">
              </div>

            </div>


            <div class="row">
              <div class="col">
                <p>Efective Start Date</p>
                <ionic-datepicker class="button button-block button-outline button-positive"
                  ng-click="openDatePicker1()">
                  {{attendanceGroup.effectiveStartDate| date: "dd MMM yyyy"}}
                </ionic-datepicker>
              </div>
            </div>



            <div class="row">
              <div class="col">
                <p>Efective End Date</p>
                <ionic-datepicker class="button button-block button-outline button-positive"
                  ng-click="openDatePicker2()">
                  {{attendanceGroup.effectiveEndDate| date: "dd MMM yyyy"}}
                </ionic-datepicker>
              </div>
            </div>


            <div class="row">
              <div class="input-field col">
                <p>Remarks</p>
                <textarea placeholder="Remarks" ng-model="attendanceGroup.remark" name="remark"
                  maxlength="120"></textarea>
              </div>
            </div>
          </div>
      </div>
      </form>
      </div>

    </ion-scroll>

    <button class="btn-floating btn-large waves-effect waves-light red lighten-1" ng-if="module.type == 'detail'"
      ng-disabled="indentityPage < 1" style="position:fixed; bottom:3%;right:5%;z-index:999"
      ng-click="goToAddDetailAd();"><i class="icons ion-plus"></i></button>
  </ion-content>
</ion-view>
