<ion-view title="Assign Attendance Group">
  <ion-content padding="false" class="has-header materialize" scroll="true">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
      </ion-refresher>
      <div class="bg-lightgrey">
        <h1 style="padding: 5px;">{{empNpk}} - {{empName}}</h1>
        <div class="card hybrid" style="padding:0px 0px">
          <div class="item item-icon-right" ng-repeat="assignAttendance in assignAttendanceGroupList ">
            <div class="inner-content" ng-click="goToDetails(assignAttendance.id)">
              <h2 class="balanced text-medium"><b>{{assignAttendance.effectiveStartDate | date:'dd MMM yyyy'}} - {{assignAttendance.effectiveEndDate | date:'dd MMM yyyy'}}</b></h2>
              <!-- <h2 class="balanced text-medium"><b>{{startDate}} - {{endDate}}</b></h2> -->
              <p class="text-small">{{assignAttendance.group.groupName}}</p>
            </div>
          </div>
        </div>
        <div>
          <div class="row" ng-if="assignAttendanceGroupList.length != 0" ng-show="isLoadMoreAatShow" style="padding-top:0px;min-height:120px">
            <button style="height:30px" class="button button-block button-outline button-positive" ng-click="LoadMoreAatShow()">Load More Results</button>
          </div>
          <div class="item" ng-if="assignAttendanceGroupList.length == 0">
            <div class="col col-100">
              <h2>No request available</h2>
              <p>Please Pull to refresh</p>
            </div>
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
  <a class="btn-floating btn-large waves-effect waves-light red lighten-1" ng-show="isShow == 1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="goToAddattendanceGroup();"><i class="icons ion-plus"></i></a>
</ion-view>
