<ion-view title="Check In/Out">

    <ion-content class="has-header" scroll="true">
      <div class="bg-lightgrey">


            <div class="row height-20 text-center stable-bg">
                <div class="col  padding">
                    <div class="card contact" ng-click="generateQuestionIn()">
                        <div class="item item-text-wrap positive-bg">
                            <i class= "icon ion-log-in text-large light"></i>
                            <br>
                            <span class="text-medium light ">Check In</span> 
                        </div>
                    </div>
                </div>
                <div class="col padding">
                    <div class="card contact" ng-click="generateQuestionOut();">
                        <div class="item item-text-wrap assertive-bg">
                                <i class= "icon ion-log-out text-large light"></i>
                                <br>
                            <span class="text-medium light">Check Out</span> 
                        </div>
                    </div>
                </div>
            </div>

             <div class="row height-20 text-center stable-bg">
                <div class="col  padding">
                    <div class="card contact">
                        <div class="item item-text-wrap light-bg">
                            <span class="text-large balanced">Check In/Out</span> 
                        </div>
                    </div>
                </div>
            </div>


            <div class="row height-20 text-center stable-bg">
                <div class="col  padding" ng-if="isLead">
                    <div class="card contact">
                        <div class="item item-text-wrap positive-bg" ui-sref="app.approvalcheckinout">
                            <i class= "icon ion-checkmark-circled text-large light"></i>
                            <br>
                            <span class="text-medium light ">Approval</span> 
                        </div>
                    </div>
                </div>
                <div class="col padding">
                    <div class="card contact" >
                        <div class="item item-text-wrap assertive-bg" ui-sref="app.dailycheckin">
                                <i class= "icon ion-clock text-large light"></i>
                                <br>
                            <span class="text-medium light">Edit History</span> 
                        </div>
                    </div>
                </div>
            </div>



            <div class="row height-20 text-center stable-bg">
                <div class="col  padding" ng-if="isLead">
                    <div class="card contact">
                        <div class="item item-text-wrap positive-bg"  style="background-color :orange;" ui-sref="app.subordinatecheckin">
                            <i class= "icon ion-person-stalker light" style="font-size : 28pt;"></i>
                            <br>
                            <span class="text-medium light ">Subordinate Check In/Out</span>  
                        </div>
                    </div>
                </div>
         
            </div>


        <!-- </ion-scroll> -->
      </div>
    </ion-content>
  </ion-view>
  