<ion-view title="Attendance Group" class="bg-lightgrey">
  <ion-nav-buttons side="right">
    <button class="btn btn-success" ng-click="saveData(detailattendanceGroup.id)">
      SAVE DATA
    </button>
  </ion-nav-buttons>
  </div>
  <ion-content class="has-header bt-grey profile" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <div class="item no-padding">
        <form name="form" novalidate>
          <div class="list">
            <div class="row">
              <div class="input-field col">
                <p>Attendance Group</p>
                <input id="first_name" placeholder="Enter attendancegroup Code" type="text" class="validate" name="attendancegroupId" ng-model="attendanceGroupName" style="width: 100%;" readonly="true">
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Pattern</p>
                <select ng-model="populateData" ng-change="getData(populateData)" ng-options="pattern.patternCode for pattern in patternList track by pattern.id" style="width: 100%;"></select>
                <input ng-model="detailattendanceGroup.patternId" style="display: none;">
              </div>
            </div>
            <!-- <div class="row" ng-if="isShowAfterSelect == 1"> -->
            <div class="row">
              <div class="input-field col">
                <p>Start From Pattern</p>
                <select ng-model="populateDataPatternDetail" ng-change="getDataDetail(populateDataPatternDetail)" ng-options="pd.patternNo for pd in patternDetail track by pd.patternNo" ></select>
                <input ng-model="detailattendanceGroup.patternDtlId" style="display: none;">
              </div>
            </div>
            <!--    <div class="row" ng-if="isShowAfterSelect == 0">
              <div class="input-field col">
                <p for="last_name">Start From Pattern</p>
                 <select ng-model="startformPatternDetail" disabled>
                    <option ng-value="startformPatternDetailData" selected>{{startformPatternDetailData}}</option>
                 </select>
                <input ng-model="pattern.patternDtlId" style="display: none;">
              </div>
               <div class="input-field col"></div>
            </div> -->
            <div class="row">
              <div class="input-field col">
                <p>Effective Start Date</p>
                <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker1()">
                  {{detailattendanceGroup.effectiveStartDate| date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Effective End Date</p>
                <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker2()">
                  {{detailattendanceGroup.effectiveEndDate| date: "yyyy-MM-dd"}}
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="input-field col">
                <p>Remarks</p>
                <textarea placeholder="Remarks" ng-model="detailattendanceGroup.remark" name="remark" maxlength="120"></textarea>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col">
                <p>INFORMATION</p>
                <p>
                  Created By : <b>{{detailattendanceGroup.createdBy}}</b>
                  <br /> Created Date : <b>{{detailattendanceGroup.createdDate |  date: "yyyy-MM-dd HH:mm:ss"}}</b>
                  <br /> Modified By : <b>{{detailattendanceGroup.modifiedBy}}</b>
                  <br /> Modified Date : <b>{{detailattendanceGroup.modifiedDate |  date: "yyyy-MM-dd HH:mm:ss"}}</b>
                  <br />
                </p>
              </div>
              <div class="col"></div>
            </div>
            <br />
          </div>
        </form>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
