<ion-view view-title="Detail Payslip" class="header">
<ion-content padding="true" class="has-header materialize" scroll="true" style="font-size:12px"> 

<div ng-repeat="header in listHeader" ng-if="type=='monthly'">
<ion-item style="background-color: #11c1f3 ;">
<div class="row" style="margin-bottom: 1px;">
  <div class="col col-40 no-padding"><h3 class="light">Employee No</h3></div>   
  <div class="col no-padding"><h2 class="text-small" >{{header.employeeTransient.assignment.employeeNo}}</h2></div>
</div>
<div class="row" style="margin-bottom: 1px;">
  <div class="col col-40 no-padding"><h3 class="light">Full Name</h3></div>   
  <div class="col no-padding"><h2 class="text-small" >{{header.employeeTransient.name}}</h2></div>
</div>
<div class="row" style="margin-bottom: 1px;">
  <div class="col col-40 no-padding"><h3 class="light">Position</h3></div>   
  <div class="col no-padding"><h2 class="text-small" >{{header.employeeTransient.assignment.positionName}}</h2></div>
</div>
<div class="row" style="margin-bottom: 1px;">
  <div class="col col-40 no-padding"><h3 class="light">Organization</h3></div>   
  <div class="col no-padding"><h2 class="text-small" >{{header.employeeTransient.assignment.organizationName}}</h2></div>
</div>
<div class="row" style="margin-bottom: 1px;">
  <div class="col col-40 no-padding"><h3 class="light">Status</h3></div>   
  <div class="col no-padding"><h2 class="text-small" >{{header.taxStatus}}</h2></div>
</div>
<div class="row" style="margin-bottom: 1px;">
  <div class="col col-40 no-padding"><h3 class="light">Period</h3></div>   
  <div class="col no-padding"><h2 class="text-small" > {{ header.periodDate | date :  "MMM-yyyy" }}</h2></div>
</div>

</ion-item>

<ion-item style="padding-bottom: 5px;padding-top: 5px;">
<div class="row">
  <div class="col col-60"><h2 class="balanced">PENERIMAAN</h2></div>    
  <div class="col"><h4 class="balanced" style="float: right;"></h4></div>
</div>

<hr class="no-margin">
<div ng-repeat="detailIn in header.detailIn">
  <div class="row">
    <div class="col col-60"><h3>{{detailIn.elementGroup}}</h3></div>     
    <div class="col"><h4 style="float: right;">Rp. {{detailIn.total  | number:0}}</h4></div>
  </div>
</div>
</ion-item>


<ion-item style="padding-bottom: 5px;padding-top: 5px;">
<div class="row">
  <div class="col col-60"><h2 class="balanced">POTONGAN</h2></div>     
  <div class="col"><h4 class="balanced" style="float: right;"></h4></div>
</div>

<hr class="no-margin">

<div ng-repeat="detailOut in header.detailOut">
  <div class="row" ng-if="detailOut.total != 0">
    <div class="col col-60"><h3>{{detailOut.elementGroup}}</h3></div>     
    <div class="col"><h4 style="float: right;">Rp. {{detailOut.total  | number:0}}</h4></div>
  </div>
</div>
</ion-item>
<ion-item style="padding-bottom: 5px;padding-top: 5px;">
<div class="row">
  <div class="col col-60"><h2 class="balanced">TOTAL</h2></div>     
  <div class="col"><h4 class="balanced" style="float: right;"></h4></div>
</div>

<hr class="no-margin">

<div class="row">
  <div class="col col-60"><h3>Total Penerimaan</h3></div>     
  <div class="col"><h4 style="float: right;">Rp. {{header.totalAllowancePayslip  | number:0}}</h4></div>
</div>
<div class="row">
  <div class="col col-60"><h3>Total Potongan</h3></div>     
  <div class="col"><h4 style="float: right;">Rp. {{header.totalDeductionPayslip| number:0}}</h4></div>
</div>
<div class="row">
  <div class="col col-60"><h3>Penerimaan</h3></div>     
  <div class="col"><h4 style="float: right;">Rp. {{header.takeHomePay  | number:0}}</h4></div>
</div>
</ion-item>
</div>
<div class="row" ng-if="type=='monthly'">
    <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#FF9800" ng-click="printPdf('monthly')"><i class="icon ion-android-download"></i>&nbsp;Download PDF</button>
</div>



<div ng-repeat="header in listHeader" ng-if="type=='yearly'">
<ion-item style="background-color: #11c1f3 ;">

<div class="row" style="margin-bottom: 1px;">
  <div class="col col-40 no-padding"><h3 class="light">Employee No</h3></div>   
  <div class="col no-padding"><h2 class="text-small" >{{header.employeeTransient.assignment.employeeNo}}</h2></div>
</div>
<div class="row" style="margin-bottom: 1px;">
  <div class="col col-40 no-padding"><h3 class="light">Full Name</h3></div>   
  <div class="col no-padding"><h2 class="text-small" >{{header.employeeTransient.name}}</h2></div>
</div>

<div class="row" style="margin-bottom: 1px;">
  <div class="col col-40 no-padding"><h3 class="light">Position</h3></div>   
  <div class="col no-padding"><h2 class="text-small" >{{header.employeeTransient.assignment.positionName}}</h2></div>
</div>
<div class="row" style="margin-bottom: 1px;">
  <div class="col col-40 no-padding"><h3 class="light">Organization</h3></div>   
  <div class="col no-padding"><h2 class="text-small" ><h2 class="text-small" >{{header.employeeTransient.assignment.organizationName}}</h2></div>
</div>
<div class="row" style="margin-bottom: 1px;">
  <div class="col col-40 no-padding"><h3 class="light">Status</h3></div>   
  <div class="col no-padding"><h2 class="text-small" >{{header.taxStatus}}</h2></div>
</div>
<div class="row" style="margin-bottom: 1px;">
  <div class="col col-40 no-padding"><h3 class="light">Period</h3></div>   
  <div class="col no-padding"><h2 class="text-small" >{{header.currentYear}}</h2></div>
</div>

</ion-item>

<ion-item style="padding-bottom: 5px;padding-top: 5px;">
<div class="row">
  <div class="col col-60"><h2 class="balanced">PENERIMAAN</h2></div>    
  <div class="col"><h4 class="balanced" style="float: right;"></h4></div>
</div>

<hr class="no-margin">
<!--
<div class="row" ng-if="header.currentTaxAllowance != 0">
    <div class="col col-60" ><h3>Tunjangan Pajak</h3></div>     
    <div class="col"><h4 style="float: right;">Rp. {{header.currentTaxAllowance | number:0}}</h4></div>
</div>
-->
<div ng-repeat="detailIn in header.detailIn">
  <div class="row" ng-if="detailIn.total != 0">
    <div class="col col-60"><h3>{{detailIn.elementGroup}}</h3></div>     
    <div class="col"><h4 style="float: right;">Rp. {{detailIn.total  | number:0}}</h4></div>
  </div>
</div>
</ion-item>


<ion-item style="padding-bottom: 5px;padding-top: 5px;">
<div class="row">
  <div class="col col-60"><h2 class="balanced">POTONGAN</h2></div>     
  <div class="col"><h4 class="balanced" style="float: right;"></h4></div>
</div>

<hr class="no-margin">
<!-- <div class="row" ng-if="header.currentTaxGross != 0">
    <div class="col col-60" ><h3>Potongan Pajak</h3></div>     
    <div class="col"><h4 style="float: right;">Rp. {{header.currentTaxGross  | number:0}}</h4></div>
</div>
<div class="row" ng-if="header.currentTaxPenalty != 0">
    <div class="col col-60"><h3>Penalti Pajak</h3></div>     
    <div class="col"><h4 style="float: right;">Rp. {{header.currentTaxPenalty  | number:0}}</h4></div>
</div>-->
<div ng-repeat="detailOut in header.detailOut">
  <div class="row" ng-if="detailOut.total != 0">
    <div class="col col-60"><h3>{{detailOut.elementGroup}}</h3></div>     
    <div class="col"><h4 style="float: right;">Rp. {{detailOut.total  | number:0}}</h4></div>
  </div>
</div>
</ion-item>

<ion-item style="padding-bottom: 5px;padding-top: 5px;">
<div class="row">
  <div class="col col-60"><h2 class="balanced">TOTAL</h2></div>     
  <div class="col"><h4 class="balanced" style="float: right;"></h4></div>
</div>

<hr class="no-margin">

<div class="row">
  <div class="col col-60"><h3>Total Penerimaan</h3></div>     
  <div class="col"><h4 style="float: right;">Rp. {{header.totalAllowance  | number:0}}</h4></div>
</div>
<div class="row">
  <div class="col col-60"><h3>Total Potongan</h3></div>     
  <div class="col"><h4 style="float: right;">Rp. {{header.totalDeduction  | number:0}}</h4></div>
</div>
<div class="row">
    <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#FF9800" ng-click="printPdf('yearly')"><i class="icon ion-android-download"></i>&nbsp;Download PDF</button>
</div>
</ion-item>
</div>


  </ion-content>
</ion-view>