<ion-view title="Summary Profile" cache-view="false">
    <ion-content padding="true" class="has-header materialize" scroll="false" ng-show="profile.isLeader == false">
      
      <ion-scroll direction="y" style="height:100%">

        <div class="row text-center" style="height:55px">
          <div class="col font-thin balanced bb" style="color:#707070" ng-click="goTo('app.summaryProfile')"><b>Summary Profile</b></div>
          <div class="col font-thin" style="color:#707070" ng-click="goTo('app.detailPoin')"><b>Active</b></div>
          <div class="col font-thin" style="color:#707070" ng-click="goTo('app.pendingPoin')"><b>Pending</b></div>
          <div class="col font-thin" style="color:#707070" ng-click="goTo('app.historyPoin')"><b>History</b></div>
        </div>

      
          <div class="list" >   
                <div class="row" style="margin:auto; font-family: 'Roboto';">
                    <div class="point" style="background-color:#0570B9; padding: 16px">
                        <center><b>{{totalSoal}}</b></center>
                    </div>
                    <div class="point" style="background-color:#009688; ">
                      <center><b>{{totalBenar}}</b><br/>
                        <sub><a style="color:white; font-size:12px;">
                          ({{ (100*totalBenar/totalSoal) | number:0}}%)
                        </a></sub>
                      </center>
                    </div>
                    <div class="point" style="background-color:#D0371F;">
                        <center><b>{{totalSalah}}</b><br/>
                          <sub><a style="color:white; font-size:12px;">
                            ({{ (100*totalSalah/totalSoal) | number:0}}%)
                          </a></sub>
                        </center>
                    </div>
                  </div>
                  
                  <div class="row height-45 text-center" style="height:45px">
                    <div class="col font-thin">
                      <h4 style="color:#707070; font-size:15px">
                        <b>Questions</b>
                      </h4>
                    </div>
                    <div class="col font-thin">
                      <h4 style="color:#707070; font-size:15px">
                        <b>Corrects</b>
                      </h4>
                    </div>
                    <div class="col font-thin">
                      <h4 style="color:#707070; font-size:15px">
                        <b>Incorrects</b>
                      </h4>
                    </div>
                  </div>
          </div>

          <div class="card" style="width: 98%; margin-top:-25px; margin-left:5px;">
              <div class="row" style="margin-bottom:5px;">
                  <a style="font-size:12px; color:#000000;">Current Position:</a>
                </div>
                <div class="row" style="margin-bottom:10px;">
                  <a style="font-size:15px; color:#000000;"><b>{{profile.employeeTransient.assignment.jobTitleName}}</b></a>
                </div>
          </div>

          <div class="card" ng-if="dataIndividualReport.length > 0">
                  <table style="border-color: #000000" cellspacing="0" cellpadding="0">
                      <tr class="gborder" style="background-color:#55a3e0">
                          <td class="gborder" style="padding-left:5px; font-weight:bold"><center>Competency Name</center></td>
                          <td class="gborder" style="padding-left:5px; font-weight:bold"><center>&nbsp;&nbsp;Correct | Total Question&nbsp;&nbsp;</center></td>          
                      </tr>
                      <tr class="gborder" ng-repeat="r in dataIndividualReport">
                          <td class="gborder" style="padding-left:15px; font-size:14px; padding-bottom:15px;" ><br>{{r.competencyName}}&nbsp;&nbsp;</td>
                          <td class="gborder" style="padding-left:15px; padding-right:15px; padding-bottom: 15px;"><center>{{r.correct}} | {{r.totalQuestion}}</center>
                          <div class="progress-bar">
                            <span style="width: {{ (100*r.correct/r.totalQuestion) | number:0}}%">{{r.correct}}/{{r.totalQuestion}}</span>
                          </div>
                          </td>
                      </tr>
                  </table>
          </div>

          <div class="list">

        
      </ion-scroll>
      
    </ion-content>
</ion-view>

<style>
    .red-background{
        background-color: red;
    }
    .yellow-background{
        background-color: yellow;
    }
    .green-background{
        background-color: green;
    }
    .dark-green-background{
        background-color: darkgreen;
    }
    .gborder{
    border: thick solid black;
    border-width: 0.5px;
    }
    .point{
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    z-index: 2;
    display: block;
    padding: 12px;
    margin: auto;
    margin-bottom: -8px;
    border-radius: 5px;
    font-size: 15px;
    color: #FFFFFF;
    height: 42px;
    width: 96px;
    line-height: 10px;
    }
    .progress-bar {
      background-color: whiteSmoke;
      border-radius: 3px;
      box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

      width: 100%;
      height: 20px;
      
      position: relative;
      display: block;
  }

  .progress-bar span {
      background-color: #55a3e0;
      border-radius: 3px;
      
      display: block;
      text-indent: -9999px;
  }
</style>
  