<ion-view title="Amandment Letter">
   
    <ion-content padding="true" class="has-header materialize" scroll="true">
        
        <div class="container text-center">
          <br />
          <center><b>You are about to print an Amandment Letter</b></center><br /><br />
          <center>Click the picture below for an <b>example</b> letter of amandment letter </center>
          <br />
        </div>
        
        <div class="item padding">
          <center><img width="400px" height="150px"  ng-src="img/ssletter/amandement.png" ng-click="openImagePreview('img/ssletter/amandement.png')" /></center>
          <br />
        </div>
          
        <div class="row">
          <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#00BFFF" ng-click="printPdf()"><i class="icon ion-android-download"></i>&nbsp;Print As PDF</button>
        </div>
    </ion-content>

</ion-view>