<ion-view title="Assignation Letter">
  <ion-content padding="true" class="has-header materialize" scroll="true">
    <div class="container text-center">
      <br />
      <b>You are about to print an Assignation Letter and DPA</b>
      <br />
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#00BFFF" ng-click="printPdf(sptai.year)"><i class="icon ion-android-download"></i>&nbsp;Print As PDF</button>
    </div>
    </div>
  </ion-content>
</ion-view>
