<ion-view class="bg-lightgrey">
  <ion-nav-title>{{subModule}}</ion-nav-title>
  <ion-content class="has-header bt-grey profile" scroll="false">
   
    <!-- <div class="list">
      <div class="item item-input-inset">
        <select ng-model="module.type" style="height: 40px;" ng-change="chooseTab(module.type)">
          <option value="personalia">Personalia</option>
          <option value="benefit">Benefit</option>
          <option value="attendance">Attendance</option>
          <option value="letter">Letter</option>
        </select>
      </div>
    </div> -->
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
      </ion-refresher>
      <div ng-if="module.type === 'personalia'">
        <div class="card" ng-repeat="item in requests | filter: searchFilter ">
          <div class="item item-text-wrap" ng-if="item.task=='SUBMITFAMILY'" ng-click="gotoDetailRequest(item.id)">
            <h2 class="lead">{{item.employeeRequest.name}}</h2>
            <p>{{item.description}}</p>
            <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
          </div>
          <div class="item item-text-wrap" ng-if="item.task=='SUBMITADDRESS'" ng-click="gotoDetailRequest(item.id)">
            <h2 class="lead">{{item.employeeRequest.name}}</h2>
            <p>{{item.description}}</p>
            <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
          </div>
          <div class="item item-text-wrap" ng-if="item.task=='CHANGEFAMILY'" ng-click="gotoDetailRequest(item.id)">
            <h2 class="lead">{{item.employeeRequest.name}}</h2>
            <p>{{item.description}}</p>
            <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
          </div>
          <div class="item item-text-wrap" ng-if="item.task=='CHANGEADDRESS'" ng-click="gotoDetailRequest(item.id)">
            <h2 class="lead">{{item.employeeRequest.name}}</h2>
            <p>{{item.description}}</p>
            <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
          </div>
          <div class="item item-text-wrap" ng-if="item.task=='CHANGEMARITALSTATUS'" ng-click="gotoDetailRequest(item.id)">
            <h2 class="lead">{{item.employeeRequest.name}}</h2>
            <p>{{item.taskDescription}}</p>
            <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
            <!-- <div class="row  pull-right">
                    <button class="waves-effect waves-light btn button-calm" ng-click="approval('rejected',{{item.id}})">Reject</button>&nbsp;&nbsp;
                    <button class="waves-effect waves-light btn button-balanced" ng-click="approval('approved',{{item.id}})">Approve</button>
                </div>-->
          </div>
          <div class="item item-text-wrap" ng-if="item.task=='CHANGENPWP'" ng-click="gotoDetailRequest(item.id)">
            <h2 class="lead">{{item.employeeRequest.name}}</h2>
            <p>{{item.description}}</p>
            <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
          </div>
          <div class="item item-text-wrap" ng-if="item.task=='CHANGENIRCNO'" ng-click="gotoDetailRequest(item.id)">
            <h2 class="lead">{{item.employeeRequest.name}}</h2>
            <p>{{item.description}}</p>
            <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
          </div>
          <div class="item item-text-wrap" ng-if="item.task=='CHANGEKTPNAME'" ng-click="gotoDetailRequest(item.id)">
            <h2 class="lead">{{item.employeeRequest.name}}</h2>
            <p>{{item.description}}</p>
            <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
          </div>
          <div class="item item-text-wrap" ng-if="item.task=='CHANGEFAMILYCARDNO'" ng-click="gotoDetailRequest(item.id)">
            <h2 class="lead">{{item.employeeRequest.name}}</h2>
            <p>{{item.description}}</p>
            <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
          </div>

          <div class="item item-text-wrap" ng-if="item.task=='CHANGEBANKACCOUNT'" ng-click="gotoDetailRequest(item.id)">
            <h2 class="lead">{{item.employeeRequest.name}}</h2>
            <p>{{item.description}}</p>
            <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
          </div>

          <!-- MYREQUEST DAFTAR DPA -->
          <div class="item item-text-wrap" ng-if="item.task=='SUBMITDPA'" ng-click="gotoDetailRequest(item.id)">
            <h2 class="lead">{{item.employeeRequest.name}}</h2>
            <p>{{item.description}}</p>
            <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
          </div>
          <!-- MYREQUEST DAFTAR DPA -->

          <div class="item item-text-wrap" ng-if="item.task=='SUBMITLEAVE'" ng-click="gotoDetailRequest(item.id)">
            <div class="row">
              <div class="col col-10"><img ng-src="img/1491892511_profle.png"></div>
              <div class="col col-80" style="valign:center">
                <h2 class="lead">{{item.employeeRequest.firstName}} {{item.employeeRequest.lastName}}</h2></div>
              <div class="col col-10">
                <p class="text-smaller pull-right" style="right:32px">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
              </div>
            </div>
            <div class="row item">
              <div class="col col-10"><span class="item item-icon-left">
                        <i class="icon ion-ios-list-outline"></i>
    
                    </span> </div>
              <div class="col col-80">{{item.ref.leaveTypeName}}</div>
              <div class="col col-10"></div>
            </div>
            <div class="row">
              <div class="col col-10"><span class="item item-icon-left"><i class="icon ion-ios-calendar-outline"></i></span> </div>
              <div class="col col-80">
                <p>{{item.ref.startDate}} - {{item.ref.endDate}}</p>
              </div>
              <div class="col col-10"><span class="badge badge-balanced" style="top:50px">{{item.ref.days}}</span></div>
            </div>
            <span class="item-note calm">
                    {{item.processingStatus}}
                </span>
            <!--
                <div class="row card-action pull-right">
                    <button class="waves-effect waves-light btn button-calm" ng-click="approval('rejected',{{item.id}})">Reject</button>&nbsp;&nbsp;
                    <button class="waves-effect waves-light btn button-balanced" ng-click="approval('approved',{{item.id}})">Approve</button>
                </div>
                -->
            <br>
          </div>
        </div>
        <div class="row" ng-if="requests.length != 0" ng-show="isLoadMorePersonalShow" style="padding-top:0px;min-height:120px">
          <button style="height:30px" class="button button-block button-outline button-positive" ng-click="loadMorePersonal()">Load More Results</button>
        </div>
        <div class="item" ng-if="requests.length == 0">
          <div class="col col-100">
            <h2>No request available</h2>
            <p>You may don't have any request need your approval</p>
          </div>
        </div>
      </div>
      <div ng-if="module.type === 'benefit'">
        <div class="card" ng-repeat="item in benefitRequests | filter: searchFilter ">
          <div class="item item-text-wrap" ng-click="gotoDetailRequest(item.id)">
            <span class="item-note calm text-smaller">
                        {{item.processingStatus}}
                    </span>
            <h2 class="lead">#{{item.ref.reqNo}}</h2>
            <p class="text-medium" ng-if="item.ref.requestForFamily != null && item.ref.categoryType =='Medical'">Medical Family</p>
            <p class="text-medium" ng-if="item.ref.categoryType == 'Medical' && item.ref.requestForFamily == null ||  item.ref.categoryType == 'Kacamata Family' || item.ref.categoryType == 'Kacamata' ">{{item.ref.categoryType}}</p>
            <p class="text-small" ng-if="item.ref.categoryType!='Medical Overlimit'">Total : Rp. {{item.ref.totalAmount | number:0}}</p>
            <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <span ng-if="item.processingStatus == 'Waiting' || item.processingStatus == 'Request'" class="item-note positive text-smaller">
                Progress {{item.currentApprovalLevel}} of {{item.approvalLevel}} 
            </span><br />
            <p class="item-note positive text-smaller">{{item.approverName}}</p>
          </div>
        </div>
        <div class="row" ng-if="benefitRequests.length != 0" ng-show="isLoadMoreBenefitShow" style="padding-top:0px;min-height:120px">
          <button style="height:30px" class="button button-block button-outline button-positive" ng-click="loadMoreBenefit()">Load More Results</button>
        </div>
        <div class="item" ng-if="benefitRequests.length == 0">
          <div class="col col-100">
            <h2>No request available</h2>
            <p>You may don't have any request need your approval</p>
          </div>
        </div>
      </div>
      <div ng-if="module.type === 'letter'">
        <div class="card" ng-repeat="item in letterRequests | filter: searchFilter ">
          <div class="item item-text-wrap" ng-click="gotoDetailRequestLetter(item.id)">
            <!--    <span class="item-note calm text-smaller">
                        {{item.processingStatus}}
                    </span> -->
            <h2 class="lead">{{item.letterType}}</h2>
            <br />
            <p class="text-smaller">{{item.createdDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <!--  <p class="text-medium" ng-if="item.ref.requestForFamily != null && item.ref.categoryType =='Medical'">Medical Family</p>
                    <p class="text-medium" ng-if="item.ref.categoryType == 'Medical' && item.ref.requestForFamily == null ||  item.ref.categoryType == 'Kacamata Family'">{{item.ref.categoryType}}</p>
                    
                    <p class="text-small" ng-if="item.ref.categoryType!='Medical Overlimit'" >Total : Rp. {{item.ref.totalAmount | number:0}}</p>
                    <p class="text-smaller" >{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p> -->
            <span class="item-note positive text-smaller">
                {{item.status}}
            </span>
          </div>
        </div>
        <div class="row" ng-if="letterRequests.length != 0"  ng-show="isLoadMoreLetterShow" style="padding-top:0px;min-height:120px">
                <button style="height:30px" class="button button-block button-outline button-positive" ng-click="loadMoreLetter()">Load More Results</button>
        
        </div>

         <div class="item" ng-if="letterRequests.length == 0" >
            <div class="col col-100">
                <h2>No request available</h2>
                <p>You may don't have any request need your approval</p>
            </div>  
        </div>
      </div>
      <div ng-if="module.type === 'attendance'">
        <div class="card" ng-repeat="item in attendanceRequests | filter: searchFilter ">
          <div class="item item-text-wrap" ng-click="gotoDetailRequest(item.id)">
            <span class="item-note calm text-smaller">
                        {{item.processingStatus}}
                    </span>
            <p class="text-medium">{{item.description}}</p>
            <p class="text-smaller">{{item.modifiedDate | date: 'dd MMM yyyy HH:mm'}}</p>
            <!-- <p>{{item.data}}</p> -->
            <!-- <p class="text-smaller" ng-if="item.ref.categoryType!='Overtime'">{{item.ref.startDate | date: 'dd MMM yyyy'}} - {{item.ref.endDate | date: 'dd MMM yyyy'}}</p>
            <p class="text-smaller" ng-if="item.ref.categoryType=='Overtime'">{{item.ref.startDateInTime | date: 'dd MMM HH:mm'}} - {{item.ref.endDateInTime | date: 'dd MMM HH:mm'}}</p> -->


            <span ng-if="item.processingStatus == 'Waiting' || item.processingStatus == 'Request'" class="item-note positive text-smaller">
                           Progress {{item.currentApprovalLevel}} of {{item.approvalLevel}}
                    </span><br />
             <p class="item-note positive text-smaller"> {{item.approverName}}</p>
          </div>
        </div>
        <div class="row" ng-if="attendanceRequests.length != 0" ng-show="isLoadMoreAttendanceShow" style="padding-top:0px;min-height:120px">
          <button style="height:30px" class="button button-block button-outline button-positive" ng-click="loadMoreAttendance()">Load More Results</button>
        </div>
        <div class="item" ng-if="attendanceRequests.length == 0">
          <div class="col col-100">
            <h2>No request available</h2>
            <p>Please Pull to refresh</p>
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
