<ion-view title="Add Family">
  <style type="text/css">
    .remove {
      background: #C76868;
      color: #FFF;
      font-weight: bold;
      font-size: 21px;
      border: 0;
      cursor: pointer;
      display: inline-block;
      padding: 4px 9px;
      vertical-align: top;
      line-height: 100%;
    }

  </style>
  <ion-content padding="false" class="has-header materialize" scroll="true">
    <form name="form" novalidate>
      <div class="item padding">
        <div class="item item-divider">Personal Information</div>
        <div class="row">
          <div class="input-field col">
            <p>Name *</p>
            <input id="first_name" placeholder="Enter Full Name" type="text" class="validate" name="fullname"
              ng-model="family.name" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40">
            <!-- <p ng-show="(family.name == undefined && family.name == '') || form.fullname.$invalid">Characters Only</p> -->
            <font color="red" style="font-size: 10px"><span ng-show="form.fullname.$invalid">Should not contain any
                special characters</span></font>
          </div>
        </div>
        <div class="row">
          <div class="input-field col">
            <p>Place of Birth *</p>
            <input placeholder="Enter Place of Birth" type="text" class="validate" name="placeofbirth"
              ng-model="family.birthPlace" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="30">
            <font color="red" style="font-size: 10px"><span ng-show="form.placeofbirth.$invalid">Should not contain any
                special characters</span></font>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="input-field col">
            <p>Date of Birth *</p>
            <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker()">
              {{family.birthDate| date: "yyyy-MM-dd"}}
            </ionic-datepicker>
          </div>
        </div>
        <div class="row">
          <div>
            <p style="font-size:13px">Alive Status *</p>
            <!--   <select class="select-dropdown" ng-model="family.aliveStatus" >
                          <option value="">-- Select --</option>
                          <option ng-repeat="alive in selectAliveStatus">{{alive.id}}</option>
                    </select> -->
            <ion-list>
              <ion-radio ng-model="family.aliveStatus" value="Passed Away" ng-click="showDied(family.aliveStatus)"
                style="width: 310px;">Died</ion-radio>
              <ion-radio ng-model="family.aliveStatus" value="Alive" ng-click="showDied(family.aliveStatus)"
                style="width: 310px;">Alive</ion-radio>
            </ion-list>
          </div>
        </div>
        <div class="row">
          <div class="input-field col">
            <p style="font-size:13px">Gender *</p>
            <select class="select-dropdown" ng-model="family.gender">
              <option value="">-- Select --</option>
              <option ng-repeat="gender in selectGender">{{gender.id}}</option>
            </select>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="input-field col"
            ng-if="dataDiedShow != 0 || dataDiedShow > 0 || family.dateOfDeath != null || family.aliveStatus == 'Passed Away'">
            <p>Date of Death *</p>
            <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker1()"
              required>
              {{family.dateOfDeath| date: "yyyy-MM-dd"}}
            </ionic-datepicker>
          </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
          <div class="input-field col">
            <p style="font-size:13px">Relationship *</p>
            <select class="select-dropdown" ng-model="family.relationship">
              <option value="">-- Select --</option>
              <option ng-repeat="relationship in selectRelationship">{{relationship.id}}</option>
            </select>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="row">
          <div class="input-field col">
            <p style="font-size:13px">Marital Status *</p>
            <!--  <select class="select-dropdown" ng-model="family.maritalStatus" >
                          <option value="">-- Select --</option>
                          <option ng-repeat="maritalStatus in selectMaritalStatus">{{maritalStatus.id}}</option>
                    </select> -->
            <select class="select-dropdown" ng-model="family.maritalStatus"
              ng-change="openDateStatus(family.maritalStatus)">
              <option value="">-- Select --</option>
              <option ng-if="family.relationship == 'Anak' || family.relationship == null" value="Single">Single
              </option>
              <option value="Married">Married</option>
              <option value="Divorce">Divorce</option>
            </select>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="input-field col"
            ng-if="dataMarriedShow != 0 || dataMarriedShow > 0 || family.marriedDate != null || family.maritalStatus == 'Married'">
            <p>Date of Married</p>
            <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker2()">
              {{family.marriedDate| date: "yyyy-MM-dd"}}
            </ionic-datepicker>
          </div>
          <div class="input-field col"
            ng-if="dataDivorceShow != 0 || dataDivorceShow > 0 || family.divorcedDate != null || family.maritalStatus == 'Divorce'">
            <p>Date of Divorce</p>
            <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker3()">
              {{family.divorcedDate| date: "yyyy-MM-dd"}}
            </ionic-datepicker>
          </div>
        </div>
        <div class="row">
          <div class="input-field col">
            <p>Identity Card No *</p>
            <input placeholder="Enter Resident ID Card" type="text" class="validate" ng-model="family.nircNo"
              name="icno" ng-pattern="/^[0-9]*$/" maxlength="25">
            <font color="red" style="font-size: 10px"><span ng-show="form.icno.$invalid">Only number allowed</span>
            </font>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="input-field col">
            <p>Family Card No *</p>
            <input placeholder="Enter Family Card No" type="text" class="validate"
              ng-model="family.familyCardNo" name="fcno" ng-pattern="/^[0-9]*$/" maxlength="25" />
            <font color="red" style="font-size: 10px"><span ng-show="form.fcno.$invalid">Only number allowed</span>
            </font>
          </div>
        </div>
        <div class="row">
          <div class="input-field col">
            <p>Kecamatan *</p>
            <input placeholder="Nama Kecamatan" type="text" class="validate" ng-model="family.district"
              name="district" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="30">
            <font color="red" style="font-size: 10px"><span ng-show="form.district.$invalid">Should not contain any
                special characters</span></font>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="input-field col">
            <p>Kelurahan *</p>
            <input placeholder="Nama Kelurahan" type="text" class="validate"
              ng-model="family.subDistrict" name="subdistrict" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="30" />
            <font color="red" style="font-size: 10px"><span ng-show="form.subdistrict.$invalid">Should not contain any
                special characters</span></font>
          </div>
        </div>
        <div class="row">
          <div class="input-field col">
            <p>RT *</p>
            <input placeholder="Enter RT" type="text" class="validate" ng-model="family.rt" name="rt"
              ng-pattern="/^[0-9]*$/" maxlength="3" />
            <font color="red" style="font-size: 10px"><span ng-show="form.rt.$invalid">Only number allowed</span></font>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="input-field col">
            <p>RW *</p>
            <input placeholder="Enter RW" type="text" class="validate" ng-model="family.rw" name="rw"
              ng-pattern="/^[0-9]*$/" maxlength="3" />
            <font color="red" style="font-size: 10px"><span ng-show="form.rw.$invalid">Only number allowed</span></font>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <p>Address *</p>
            <textarea placeholder="Enter Address Details" ng-model="family.address" class="materialize-textarea"
              name="address" maxlength="120"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="input-field col">
            <p style="font-size:13px">Nationality *</p>
            <select class="select-dropdown" ng-model="family.nationality">
              <option value="">-- Select --</option>
              <option ng-repeat="nationality in selectNationality">{{nationality.id}}</option>
            </select>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="input-field col">
            <p style="font-size:13px">Blood Type *</p>
            <select class="select-dropdown" ng-model="family.bloodType">
              <option value="">-- Select --</option>
              <option ng-repeat="bloodType in selectBloodType">{{bloodType.id}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col">
            <p>Phone</p>
            <input id="first_name" placeholder="e.g. 02145XXX" type="text" class="validate" ng-model="family.phone"
              name="phone" ng-pattern="/^[0-9]*$/" maxlength="25">
            <font color="red" style="font-size: 10px"><span ng-show="form.phone.$invalid">Only number allowed</span>
            </font>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="input-field col">
            <p>Email</p>
            <input id="first_name" placeholder="Enter Email" type="email" class="validate" ng-model="family.email"
              name="email" maxlength="50">
            <font color="red" style="font-size: 10px"><span ng-show="form.email.$invalid">Email format is invalid</span>
            </font>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <p for="first_name">Last Education</p>
            <select class="select-dropdown" ng-model="family.lastEducation">
              <option value="">-- Select Education --</option>
              <option ng-value="TK">TK</option>
              <option ng-value="SD">SD</option>
              <option ng-value="SMP">SMP</option>
              <option ng-value="SMA">SMA</option>
              <option ng-value="D1">D1</option>
              <option ng-value="D2">D2</option>
              <option ng-value="D3">D3</option>
              <option ng-value="S1">S1</option>
              <option ng-value="S2">S2</option>
              <option ng-value="S3">S3</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <p>Occupation</p>
            <textarea placeholder="Occupation" ng-model="family.occupation" class="materialize-textarea"
              name="occupation" maxlength="120"></textarea>
          </div>
        </div>
        <!-- <div class="row">
          <div class="input-field col s12">
            <p for="first_name">Occupation</p>
            <select class="select-dropdown" ng-model="family.occupation">
              <option value="">-- Select Occupation --</option>
              <option ng-value="Wiraswasta">Wiraswasta</option>
              <option ng-value="Tidak Bekerja">Tidak Bekerja</option>
              <option ng-value="PNS/TNI/Polri">PNS/TNI/Polri</option>
              <option ng-value="Pensiunan">Pensiunan</option>
              <option ng-value="Pelajar / Mahasiswa">Pelajar / Mahasiswa</option>
              <option ng-value="Karyawan Swasta">Karyawan Swasta</option>
              <option ng-value="Ibu Rumah Tangga">Ibu Rumah Tangga</option>
            </select>
          </div>
        </div> -->
        <!-- family faskes di hidden -->
        <!-- <div class="row">
                  <div class="input-field col">
                      <p for="first_name">No. Faskes</p>
                      <input id="first_name" placeholder="E.g No Faskes" type="text" class="validate" ng-model="family.ktpName" name="ktpName" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="30">
                      <font color="red" style="font-size: 10px"><span ng-show="form.faskes.$invalid">Should not contain any special characters</span></font>

                  </div>
              </div> -->
        <br />
        <div ng-if="isEdit != true">
          <div class="item item-divider">Attach Supporting Document</div>
          <div class="row" ng-show="appMode=='mobile'">
            <button class="button button-block button-outline button-positive" ng-click="addPicture()"><i
                class="icon ion-ios-camera-outline"></i> Add Attachment</button>
          </div>
          <div class="row" ng-show="appMode=='web'">
            <input id="inputImage" type="file" accept="image/*" ng-model="family.imagesData" image="family.imagesData"
              resize-max-height="1280" resize-max-width="720" resize-quality="0.8" resize-type="image/jpg"
              multiple="multiple" ng-image-compress />
          </div>
          <div class="row post" ng-show="appMode=='mobile'">
            <div class="col" style="height:90px;width:90px" ng-repeat="items in family.images">
              <img height="90px" width="90px" ng-src="{{items.image}}" />
              <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
            </div>
          </div>
          <div class="row post" ng-show="appMode=='web'">
            <div class="col" style="height:90px;width:90px" ng-repeat="item in family.imagesData">
              <img height="90px" width="90px" ng-src="{{item.compressed.dataURL}}" />
              <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
            </div>
          </div>
          <div class="row center" ng-show="appMode=='mobile'">
            <div class="col" style="max-height:90px;max-width:90px" ng-if="family.images.length==0">
              <img ng-src="{{image}}" height="90px">
            </div>
          </div>
          <div class="row center" ng-show="appMode=='web'">
            <div class="col" style="max-height:90px;max-width:90px" ng-if="family.imagesData==0">
              <img ng-src="{{image}}" height="90px">
            </div>
          </div>
        </div>
        <h4 class="assertive">*Penambahan suami/istri : KK dan surat nikah</h4>
        <h4 class="assertive">*Penambahan anak : KK, Akte lahir/surat keterangan lahir</h4>
        <h4 class="assertive">*Mohon mengirimkan document ke email :<br /> anastasya.cionia@acc.co.id</h4>

        <div class="row" style="padding-top:50px">
          <button
            class="btn waves-effect button-medium waves-light button button-balanced  button-block waves-effect waves-light"
            ng-click="submitForm()" ng-disabled="form.$invalid || buttonDisable > 0"
            style="font-weight:bold;background-color:#FF9800">Submit</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
