<ion-view title="Detail Family" class="bg-lightgrey">

  <ion-nav-buttons side="right">
    <button ng-if="canEdit == 'true' && family.status!='pending'" class="button button-success button-clear light"
      ng-click="goEditFamily()">Edit</button>
  </ion-nav-buttons>

  <ion-content class="has-header " scroll="true">
    <div class="list">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <p class="text-small">Name</p>
            <h2 class="lead text-medium">{{family.name}}</h2>
          </div>
        </div>
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <p class="text-small">Place of Birth</p>
            <h2 class="lead text-medium">{{family.birthPlace}}</h2>
          </div>
          <div class="col">
            <p class="text-small">Date of Birth</p>
            <h2 class="lead text-medium">{{family.birthDate | date: "yyyy-MM-dd"}}</h2>
          </div>
        </div>
      </div>

      <div class="item item-text-wrap">

        <div class="row">
          <div class="col">
            <p class="text-small">Alive Status *</p>
            <h2 class="lead text-medium">{{family.aliveStatus}}</h2>
          </div>
          <div class="col" ng-if="family.deceaseDate != null">
            <p class="text-small">Date Of Death </p>
            <h2 class="lead text-medium">{{family.deceaseDate  | date: "yyyy-MM-dd"}}</h2>
          </div>
        </div>
      </div>


      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <p class="text-small">Gender</p>
            <h2 class="lead text-medium">{{family.gender}}</h2>
          </div>
        </div>
      </div>

      <div class="item">

        <div class="row">
          <div class="col">
            <p class="text-small">Relationship</p>
            <h2 class="lead text-medium">{{family.relationship}}</h2>
          </div>

          <div class="col">
            <!-- <p class="text-small">Relationship</p>
                    <h2 class="lead text-medium" >{{family.relationship}}</h2> -->
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col">
            <p class="text-small">Marital Status</p>
            <h2 class="lead text-medium">{{family.maritalStatus}}</h2>
          </div>

          <div class="col" ng-if="family.marriedDate != null">
            <p class="text-small">Date Of Married </p>
            <h2 class="lead text-medium">{{family.marriedDate | date: "yyyy-MM-dd"}}</h2>
          </div>


          <div class="col" ng-if="family.divorcedDate != null">
            <p class="text-small">Date Of Divorced </p>
            <h2 class="lead text-medium">{{family.divorcedDate | date: "yyyy-MM-dd"}}</h2>
          </div>
        </div>
      </div>

      <div class="item">

        <div class="row">
          <div class="col">
            <p class="text-small">Identity Card No</p>
            <h2 class="lead text-medium">{{family.nircNo}}</h2>
          </div>
          <div class="col">
            <p class="text-small">Family Card No</p>
            <h2 class="lead text-medium">{{family.familyCardNo}}</h2>
          </div>
        </div>

      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <p class="text-small">Kecamatan</p>
            <h2 class="lead text-medium">{{family.district}}</h2>
          </div>
          <div class="col">
            <p class="text-small">Kelurahan</p>
            <h2 class="lead text-medium">{{family.subDistrict}}</h2>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <p class="text-small">RT</p>
            <h2 class="lead text-medium">{{family.rt}}</h2>
          </div>
          <div class="col">
            <p class="text-small">RW</p>
            <h2 class="lead text-medium">{{family.rw}}</h2>
          </div>
        </div>
      </div>
      <div class="item">

        <div class="col">
          <p class="text-small">Address</p>
          <h2 class="lead text-medium">{{family.address}}</h2>
        </div>

      </div>
      <div class="item">
        <div class="row">

          <div class="col">
            <p class="text-small">Nationality</p>
            <h2 class="lead text-medium">{{family.nationality}}</h2>
          </div>
          <div class="col">
            <p class="text-small">Blood Type</p>
            <h2 class="lead text-medium">{{family.bloodType}}</h2>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">

          <div class="col">
            <p class="text-small">Phone</p>
            <h2 class="lead text-medium">{{family.phone}}</h2>
          </div>
          <div class="col">
            <p class="text-small">Email</p>
            <h2 class="lead text-medium">{{family.email}}</h2>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col">
            <p class="text-small">Last Education</p>
            <h2 class="lead text-medium">{{family.lastEducation}}</h2>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col">
            <p class="text-small">Occupation</p>
            <h2 class="lead text-medium">{{family.occupation}}</h2>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">

          <div class="col">
            <p class="text-small">No. Faskes</p>
            <h2 class="lead text-small">{{family.faskesCode}} - {{family.faskesName}}</h2>
          </div>
        </div>
      </div>
      Mohon mengirimkan document ke email : anastasya.cionia@acc.co.id


    </div>
  </ion-content>
</ion-view>
