<ion-view title="Family">
    <ion-content class="has-header" scroll="true">
        <ion-refresher pulling-text="Pull to refresh"
             refreshing-text="Loading..."
             refreshing-icon="ion-loading-c"
             pulling-icon="ion-ios7-arrow-thin-down"
             on-refresh="refresh()">
            </ion-refresher>
        <div  class="bg-lightgrey">
      
                <div class="card hybrid" style="padding:0px 0px" ng-repeat="item in family | filter: searchFilter  | orderBy: 'publishedDate':true " ng-click="goToDetails(item.id)">

                    <div class="item item-icon-right">
                        <!-- <img ng-src="img/users/female.png">-->
                        <span class="item-note calm text-smaller" ng-if="item.status=='pending'">
                          Pending
                        </span>
                        <div class="inner-content">
                            <h2 class="balanced text-medium"><b>{{item.name}}</b></h2>
                            <p class="text-small">{{item.relationship}}</p>
                        
                        </div>
                        
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                </div>

                <div class="item" ng-if="family.length == 0" >
                    <div class="col col-100">
                    <h2>No Member of Family available</h2>
                        <p>Please Pull to refresh !</p>
                    </div>  
                </div>
        </div>
    </ion-content>

    <a class="btn-floating btn-large waves-effect waves-light red lighten-1" style="position:fixed; bottom:3%;right:5%;z-index:999" ng-click="goToAddFamily();"><i class="icons ion-plus"></i></a>
</ion-view>