<ion-view title="Performance Detail" class="bg-lightgrey">
  <ion-content class="has-header bt-grey profile" scroll="true">
    <div class="list" >
      <div class="item item-text-wrap">
        <h2 class="lead text-medium">Score</h2>
        <p class="text-small" ng-bind-html="detail.finalScore"></p>
      </div>
      <div class="item item-text-wrap">
        <h2 class="lead text-medium">Worker Comment</h2>
        <p class="text-small" ng-bind-html="detail.workerComment"></p>
      </div>
      <div class="item item-text-wrap">
        <h2 class="lead text-medium">Manager Comment</h2>
        <p class="text-small" ng-bind-html="detail.managerComment"></p>
      </div>
      <div class="item item-text-wrap">
        <h2 class="lead text-medium">Approver Comment</h2>
        <p class="text-small" ng-bind-html="detail.approverComment"></p>
      </div>
      <div class="item item-text-wrap">
        <h2 class="lead text-medium">Hr Comment</h2>
        <p class="text-small" ng-bind-html="detail.hrComment"></p>
      </div>
    </div>
  </ion-content>
</ion-view>
