<ion-view title="Performance List" cache-view="false">
  <ion-content padding="true" class="has-header materialize" scroll="true">
    <div class="row">
      <p>
        Npk &nbsp; &nbsp;: {{profile.employeeTransient.assignment.employeeNo}}
        <br /> Nama : {{profile.employeeTransient.name}}
      </p>
    </div>
    <div class="item padding">
      <div class="item item-divider">List Performance Value</div>
      <ion-scroll class="bg-lightgrey" direction="xy" style="max-height:100vh;">
        <div class="card" ng-repeat="data in detail">
          <div class="item item-text-wrap" ng-click="gotoDetailPerfomance(data.id)" style="background-color:#D3D3D3;">
            <span style="float: right;color: #085f77; font-size: 35px;">
              <i class="ion-chatboxes" style="height: 50px;"></i>
            </span>
            <pre style="font-size: 12px;text-align: left; font-family: 'MavenPro-Regular' !important; ">
              Start Date : {{data.startDate | date: 'dd MMM yyyy'}}
              End Date   : {{data.endDate | date: 'dd MMM yyyy'}}
              Score        : <b>{{data.finalScore}}</b>
            </pre>
          </div>


        </div>


        <div class="card" ng-if="detail.length < 1">
          <div class="item item-text-wrap" style="background-color:  #87CEFA ;">
            <h2>Your Score Performance it's not available</h2>
          </div>


        </div>
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>
