<ion-view title="Form Interview" class="bg-lightgrey">
  <ion-content class="has-header bt-grey profile" scroll="true">
    <!-- <ion-scroll class="bg-lightgrey" direction="y" style="height:95%"> -->
      <div class="item item-divider">
        <center>INTERVIEW COMPETENCIES ({{currentSection}} of {{(interviewSection[0].maximumSection + 1)}})</center>
      </div>

      <div class="item padding">
        <h1 ng-if="interviewSection.length > 0 && currentSection != interviewSection[0].maximumSection + 1" class="lead text-medium">{{interviewSection[0].sectionName}}</h1>
        <h1 ng-if="currentSection == interviewSection[0].maximumSection + 1 && (interviewSection[0].maximumSection + 1 == 3 ||  interviewSection[0].maximumSection + 1 == 5)"
          class="lead text-medium">RESULT</h1>
      </div>
      <form name="form" novalidate>
        <div ng-repeat="interviewQ in interviewSection track by $index" ng-show="currentSection <= maxSection">
          <div class="item item-text-wrap">
            <h2 class="lead text-medium">{{interviewQ.detailName}}</h2>
            {{interviewQ.description}}
            <!-- for submit interview -->
            <div ng-if="interviewQ.type === 'Multiple Choice' && sectionReadOnly === false">
              <div class="row responsive-sm">
                <div class="input-field col">
                  <span>Rating*</span>
                  <select ng-model="interviewQ.answerRating" ng-options="intvRating.name for intvRating in interviewQ.listInterviewRatingDetail track by intvRating.id"
                    style="width:125px;">
                  </select>
                </div>
              </div>
              <div class="row responsive-sm">
                <div class="input-field">
                  <p><b>{{interviewQ.answerRating.value}}</b></p>
                </div>
              </div>
            </div>
            <!-- for view interview result -->
            <div ng-if="interviewQ.type === 'Multiple Choice' && sectionReadOnly === true">
              <div class="row">
                <div class="input-field col">
                  <span>Rating</span>
                  <span><b>{{interviewQ.answerRatingName}}</b></span>
                </div>
              </div>
              <div class="row">
                <div class="input-field">
                  <p><b>{{interviewQ.answerRatingValue}}</b></p>
                </div>
              </div>

              <div class="row">
                <div class="input-field col">
                  <span>Recommended</span>
                  <span><b>{{interviewQ.recommendedRatingName}}</b></s>
                </div>
              </div>
              <div class="row">
                <div class="input-field">
                  <p><b>{{interviewQ.recommendedRatingValue}}</b></p>
                </div>
              </div>
            </div>
            <div ng-if="interviewQ.type === 'Free Text' || (interviewQ.type === 'Multiple Choice' && interviewQ.needRemarks === true)">
              <p ng-if="sectionReadOnly === false">Remark*</p>
              <p ng-if="sectionReadOnly === true">Remark</p>
              <textarea id='{{interviewQ.interviewTemplateDetailId}}'
                style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="2"
                ng-model="interviewQ.answerRemark" maxlength="1000" ng-disabled="sectionReadOnly === true"></textarea>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap" ng-show="currentSection == (maxSection+1)">
          <h2 class="lead text-medium">SUMMARY *</h2>
          <div class="row">
            <div class="input-field col">
              <select ng-model="summary.finalResult" ng-disabled="sectionReadOnly === true">
                <option value="Pass">Pass</option>
                <option value="Failed">Failed</option>
                <option value="Divert">Divert</option>
                <option value="Skip" ng-if="sectionReadOnly === true">Skip</option>
              </select>
            </div>
          </div>
          <br />
          <h2 class="lead text-medium">Remark *</h2>
          <div class="row">
            <div class="input-field col">
              <textarea class="validate" style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px"
                rows="5" ng-model="summary.remark" maxlength="500" ng-disabled="sectionReadOnly === true"></textarea>
            </div>
          </div>
        </div>

        <button ng-show="currentSection != 1" class="btn button button-block button-positive no-animate" ng-click="interviewPrevious();">Previous
        </button>
        <button ng-show="currentSection <= maxSection" class="btn button button-block button-positive no-animate"
          ng-click="interviewNext();">Next
        </button>
        <button ng-show="(currentSection == (maxSection + 1)) && sectionReadOnly === false" class="btn button button-block button-positive no-animate"
          ng-click="interviewFinish();">Finish
        </button>
      </form>
    <!-- </ion-scroll> -->
  </ion-content>
</ion-view>
