<ion-view title="Interview" class="bg-lightgrey">
  <ion-content class="has-header bg-lightgrey">
    <div class="row height-20 text-center stable-bg">
      <div class="col  padding">
        <div class="card contact" ui-sref="app.interview-schedule">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/mobile-interview/interviewer-64px.png"><br>
            <span class="text-small">Interviewer</span>
          </div>
        </div>
      </div>
      <div class="col padding">
        <div class="card contact" ui-sref="app.interview-schedule-admin">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/mobile-interview/admin-64px.png"><br>
            <span class="text-small">Admin</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>