<ion-view title="Interview Result" class="bg-lightgrey">
  <ion-content class="has-header bt-grey profile" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:90%">
      <div class="header">
        <img ng-src="{{interviewResult.applicant.photo}}">
        <h2 class="lead text-medium">{{interviewResult.applicant.name}}</h2>
      <p>{{interviewResult.jobRequisition}}</p>        
      </div>
      <div class="item item-divider">
        Last Interview Schedule
      </div>
      <br />
      <div ng-repeat="ir in interviewResult.iRCInterviewSchedule" ui-sref="app.interview-result-detail({id: ir.id})" style="cursor: pointer;">
        <div class="row">
          <div class="col col-center">
            <img ng-if="ir.interviewerEmployeeId == null" ng-src="{{ir.picEmployee.image}}" style="float: left;height: 40px; width: 40px;">
            <img ng-if="ir.interviewerEmployeeId != null" ng-src="{{ir.interviewerEmployee.image}}" style="float: left;height: 40px; width: 40px;">
            <p style="padding-left: 55px;" ng-if="ir.interviewerEmployeeId == null">{{ir.picEmployee.employeeNo}} - {{ir.picEmployee.fullName}}<br />
            {{ir.picEmployee.positionName}}<br/>
            {{ir.schedule | date: 'dd MMM yyyy HH:mm'}}</p>
              
            <p style="padding-left: 55px;" ng-if="ir.interviewerEmployeeId != null">{{ir.interviewerEmployee.employeeNo}} - {{ir.interviewerEmployee.fullName}}<br />
            {{ir.interviewerEmployee.positionName}}<br/>
            {{ir.resultDate | date: 'dd MMM yyyy HH:mm'}}</p>
          </div>
          <div class="col con-center">
            <div style="float: right; font-size: 9px;">
              <img src="img/talents/mobile-interview/passInterview-32px.png" ng-if="ir.result == 'Pass'">
              <img src="img/talents/mobile-interview/referInterview-32px.png" ng-if="ir.result == 'Divert'">
              <img src="img/talents/mobile-interview/skipInterview-32px.png" ng-if="ir.result == 'Skip'">
              <img src="img/talents/mobile-interview/failInterview-32px.png" ng-if="ir.result == 'Failed'">
              <img src="img/talents/mobile-interview/onProgressSchedule-32px.png" ng-if="ir.result == 'In Progress'"><br />
              <!-- <a>See Interview Result</a> -->
            </div>
          </div>
        </div>
        <hr />
      </div>

      <div class="row" ng-if="interviewResult.iRCInterviewSchedule.length == 0">
        <div class="col col-100">
          <h4>Data not found</h4>
        </div>
      </div>

    </ion-scroll>
  </ion-content>
</ion-view>
