<ion-view title="Prescreening Result" class="bg-lightgrey">
  <ion-content class="has-header bt-grey profile" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
      <div ng-repeat="pl in prescreeningList track by $index">
        <div class="item item-text-wrap">
          <h2 class="lead">{{$index + 1}}. {{pl.soal}}</h2>
          <p class="text-medium">
            <div ng-repeat="setjawaban in pl.set_jawaban">
              - <span>{{setjawaban}}</span>
            </div>
            <b ng-if="pl.jawaban.length > 0">Answer : {{pl.jawaban}}</b><br />
            <b ng-if="pl.jawaban.length == 0">Answer : -</b>
          </p>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
