<ion-view title="Supporting Document" class="bg-lightgrey">
  <script id="modalAddDocument.html" type="text/ng-template">
    <ion-modal-view>        
      <div class="bar bar-header item-input-inset">
        <button class="button button-clear ion-ios7-arrow-thin-down" style="margin-left:-12.5px;" ng-click="closeModalAddDocument();">
          <i class="icon ion-android-close placeholder-icon placeholder-icon"></i>
        </button>
      </div>
      <ion-content class="has-header bt-grey assertive">
        <div class="item padding">
          <div class="item item-divider">New Supporting Document</div>
          <div class="row">
            <div class="input-field col">
            <p for="document_name">Document Name*</p>
            <input placeholder="Enter Document Name" type="text" 
              class="validate" ng-model="supportingDocument.name" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" 
              maxlength="40" required>
            </div>
          </div>
          <div class="row">
            <div class="input-field col">
            <p>Document <span style="font-size:12px;color:red">(Max file size 5 MB)</span></p>
            <input id="inputImage" type="file" accept="image/*,.pdf"
              ng-model="image" image="image" ng-image-compress/>
            </div>
          </div>
          <div class="row">
            <button class="btn waves-effect button-medium waves-light button button-balanced button-block" ng-click="uploadDocument()">SUBMIT</button>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
    </script>
  <ion-content class="has-header bt-grey profile" scroll="false">
    <ion-scroll class="bg-lightgrey" direction="y" style="height:95%">
      <div class="header">
        <img ng-src="{{listSupportingDocument.applicantSelection.applicant.photo}}">
        <h2 class="lead text-medium">{{listSupportingDocument.applicantSelection.name}}</h2>
        <p>{{listSupportingDocument.applicantSelection.jobRequisition}}</p>
      </div>
      <div class="item item-divider">
        List Supporting Document
      </div>
      <div class="item item-text-wrap" style="padding-top: 0px; padding-bottom: 0px" ng-repeat="suppDoc in listSupportingDocument.listApplicantSelectionDocument">
        <div class="row">
          <div class="col col-center">
            <h2 class="lead text-medium"><b>{{suppDoc.name}}</b></h2>
          </div>
          <div class="col col-center right-align">
            <!-- <button class="button button-icon" ng-click="doDeleteDocs(suppDoc.id, suppDoc.name);"><i class="icon ion-trash-a"></i></button> -->
            <img src="img\talents\mobile-interview\supporting document\deleteDocument-32px.png" 
              ng-if="isCareerAdmin == true"  
              ng-click="doDeleteDocs(suppDoc.id, suppDoc.name);" style="cursor: pointer;">
            <!-- <button class="button button-icon" ng-click="doDownloadDocs(suppDoc.path);"><i class="icon ion-android-download"></i></button> -->
            &nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img\talents\mobile-interview\supporting document\downloadDocument-32px.png" ng-click="doDownloadDocs(suppDoc.path);" style="cursor: pointer;">
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
  <!-- <a class="btn-floating btn-large waves-effect waves-light red lighten-1" 
    style="position:fixed; bottom:3%;right:5%;z-index:999"
    ng-click="goToUpload();" >
    <i class="icons ion-plus"></i>
  </a> -->
  <img src="img\talents\mobile-interview\supporting document\addDocument-32px.png" 
    style="position:fixed; bottom:3%;right:5%;z-index:999; cursor: pointer;"
    ng-if="isCareerAdmin == true" ng-click="goToUpload();">
</ion-view>