<ion-view title="{{titleCategory}}" cache-view="false">
  <style type="text/css">
  .input-talents {
    width: 100%;
    border-color: #ddd;
    border-radius: 5px;
  }

  .left {
    text-align: left;
    float: left;
    width: 60%;
  }

  .right {
    text-align: right;
    float: right;
    width: 40%;
  }

  </style>
  <ion-content class="profile has-header" scroll="true">
    <form name="form" novalidate>
      <div class="item padding bg-lightgrey" ng-if="directType == false || defaultValue==0">
        <div class="row" ng-if="category != 'perjalanan dinas' ">
          <div class="input-field col">
            <p>Transaction Date</p>
            <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker()">
              {{requestHeader.startDate| date: "yyyy-MM-dd"}}
            </ionic-datepicker>
          </div>
        </div>
        <div class="row" ng-if="category == 'kacamata' || category == 'medical' || categoryTypeIndentity == 'Kacamata Family'|| categoryTypeIndentity=='Medical Family'">
          <div class="input-field col " style="margin-top:10px">
            <p ng-if="category=='kacamata'">Optical Store </p>
            <p ng-if="category=='medical'">Hospital Name</p>
            <p ng-if="categoryTypeIndentity=='Kacamata Family'">Optical Store </p>
            <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="2" ng-model="requestHeader.remark" maxlength="100" name="optichospital" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"></textarea>
            <font color="red" style="font-size: 10px"><span ng-show="form.optichospital.$invalid">Should not contain any special characters</span></font>
          </div>
        </div>


        <div ng-if="categoryTypeIndentity == 'Kacamata Family' || categoryTypeIndentity=='Medical Family'">
          <p class="bb text-medium padding">Choose Your Family Member</p>
          <br>
          <div ng-if="childrenList.length >  0">
            <div class="edit padding-horizontal">
              <ion-list>
                <ion-radio name="radio-button-s" ng-model="requestHeader.requestForFamily" ng-repeat="list in childrenList" value="{{list.id}}" required>{{list.name}} - {{list.relationship}}
                  <br />
                  <span style="font-size: 11px;" ng-if="categoryTypeIndentity == 'Kacamata Family'">Allowed Claim Date For Frame : {{list.allowedClaimDateFrame | date: "yyyy-MM-dd"}}</span>
                  <br />
                  <span style="font-size: 11px;" ng-if="categoryTypeIndentity == 'Kacamata Family'">Allowed Claim Date For Lensa : {{list.allowedClaimDateLensa | date: "yyyy-MM-dd"}}</span>
                  </span>
                </ion-radio>
              </ion-list>
            </div>
          </div>
          <div ng-if="childrenList.length < 1">
            <p>*Please add your family member and <br /> with status approve from admin</p>
          </div>
          <!--  <font color="red" style="font-size: 10px"><span ng-if="childrenList.length > 1" ng-show="form.requestHeader.requestForFamily.$invalid">Required Field, Please select family</span></font> -->

        </div>

        <br />
        <div>
          <p class="bb text-medium padding">Choose Direct Payment</p>
          <br>
          <div>
            <ion-list>
              <ion-radio ng-model="dataAccountShow" ng-value="0" ng-click="showAccount()">Use Default Payroll Account</ion-radio>
              <ion-radio ng-model="dataAccountShow" ng-value="1">Transfer To Another Account</ion-radio>
            </ion-list>
          </div>
        </div>
        
        <div ng-if="dataAccountShow != 0 || dataAccountShow > 0">
          <div class="row">
            <div class="input-field col">
              <p>Bank Name</p>
              <select ng-model="requestHeader.bankName" name="bankName" required>
                <option ng-repeat="bank in bankList" value="{{bank.extId}}">{{bank.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-field col " style="margin-top:10px">
              <p>Bank Account Name</p>
              <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="2" ng-model="requestHeader.accountName" maxlength="100" name="accountName" ng-pattern="/^[a-zA-Z ]*$/" required="true"></textarea>
                <div ng-if="requestHeader.accountName != ''">
                  <font color="red" style="font-size: 10px"><span ng-show="form.accountName.$invalid">Please fill with characters only</span></font>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col " style="margin-top:10px">
              <p>Bank Account Number</p>
              <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="2" ng-model="requestHeader.bankAccount" name="bankAccount" maxlength="100" name="bankAccount" ng-pattern="/^[.0-9-/ ]*$/" required="true"></textarea>
              <div ng-if="requestHeader.bankAccount != ''">
                <font color="red" style="font-size: 10px"><span  ng-show="form.bankAccount.$invalid">Please fill with Number</span></font>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="category == 'perjalanan dinas'">
          <div class="input-field col padding-horizontal" style="margin-top:5px">
            <p>Origin</p>
            <input style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:5px" type="text" class="validate" ng-model="requestHeader.origin" name="origin" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40">
            <font color="red" style="font-size: 10px"><span ng-show="form.origin.$invalid">Should not contain any special characters</span></font>
          </div>
          <div class="input-field col" style="margin-top:5px">
            <p>Destination</p>
            <input style="border: solid 2px #c9c9c9;" type="text" class="validate input-talents" ng-model="requestHeader.destination" name="destination" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/" maxlength="40">
            <font color="red" style="font-size: 10px"><span ng-show="form.destination.$invalid">Should not contain any special characters</span></font>
          </div>
        </div>
        <div class="row" ng-if="category == 'perjalanan dinas'">
          <div class="input-field col padding-horizontal" style="margin-top:5px">
            <p>Start Date</p>
            <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker()" style="margin-top: 2px;margin-bottom: 5px; line-height: 34px;min-height: 34px;">
              {{requestHeader.startDate| date: "yyyy-MM-dd"}}
            </ionic-datepicker>
          </div>
          <div class="input-field col" style="margin-top:5px">
            <p>End Date</p>
            <ionic-datepicker class="button button-block button-outline button-positive" ng-click="openDatePicker1()" style="margin-top: 2px;margin-bottom: 5px; line-height: 34px;min-height: 34px;">
              {{requestHeader.endDate| date: "yyyy-MM-dd"}}
            </ionic-datepicker>
          </div>
        </div>
        <div class="row" ng-if="category == 'perjalanan dinas' || category == 'mutasi' ">
          <div class="input-field col padding-horizontal" style="margin-top:5px">
            <p>Remark *</p>
            <textarea style="width:100%; border-color:#ddd; border: solid 2px #c9c9c9;border-radius:2px" rows="2" ng-model="requestHeader.remark" maxlength="100" name="remark" ng-pattern="/^[a-zA-Z,.0-9-/ ]*$/"></textarea>
            <font color="red" style="font-size: 10px"><span ng-show="form.remark.$invalid">Should not contain any special characters</span></font>
          </div>
        </div>
        <div class="row" ng-if="category == 'perjalanan dinas'">
          <div class="input-field col padding-horizontal" style="margin-top:5px">
            <select ng-model="requestHeader.spdType" style="font-size:13px">
              <option value="">-- Select SPD Type --</option>
              <option ng-repeat="option in arrSpdType track by $index">{{option.id}}</option>
            </select>
          </div>
        </div>
        <p class="bb text-medium padding">Please fill out your expense</p>
        <br />
        <button ng-click="showPopupPeraturan()" ng-if="categoryTypeIndentity == 'Kacamata Family'" class="btn waves-effect" style="height:30px;font-weight:bold;background-color:blue"><span style="font-size:12px; padding-bottom: 10px;">Plafon Information</span></button>
        <div ng-if="categoryTypeIndentity == 'Kacamata'">
          <span>Allowed Claim Date For Lensa : <b>{{claimLensa |  date: "yyyy-MM-dd"}}</b></span>
          <br />
          <span>Allowed Claim Date For Frame : <b>{{claimFrame | date: "yyyy-MM-dd"}}</b></span>
          <br /><br />
          <button ng-click="showPopupPeraturan()" class="btn waves-effect" style="height:30px;font-weight:bold;background-color:blue"><span style="font-size:12px; padding-bottom: 10px;">Plafon Information</span></button>
        </div>
        <br>
        <br />
        <div class="edit padding-horizontal">
          <div ng-if="category != 'perjalanan dinas'">
            <div class="item item-input" ng-repeat="item in listtype track by $index">
              <span class="input-label" ng-if="item.type != 'select'"><b>{{item.name}}</b></span>
              <select ng-model="item.value" ng-if="item.type == 'select'" style="font-size:13px">
                <option ng-repeat="option in item.options track by $index">{{option.id}}</option>
              </select>
              <input placeholder="Rp. 0" value="0" ng-keyup="change($event,$index)" type="tel" ng-model="item.amount">
            </div>
          </div>
          <div ng-if="category == 'perjalanan dinas'">
            <div class="item item-input" ng-repeat="item in listtype track by $index">
              <span class="input-label col col-40" ng-if="item.type != 'select'" style="font-size:11px"><b>{{item.name}}</b></span>
              <select class="col col-40" ng-model="item.value" ng-change="changeBalance(item.value,$index)" ng-if="item.type == 'select'" style="font-size:10px">
                <option ng-selected="$index ==0" ng-repeat="option in item.options track by $index">{{option.id}}</option>
              </select>
              <div class="row" style="float:right" ng-if="item.input == true">
                <input style="float:right" class="col col-50" ng-keyup="multiple($event,$index)" placeholder="0" value="0" type="number" ng-model="item.qty" ng-pattern="/^[0-9]*$/" maxlength="2">
                <h6 class="col col-50" style="margin-top: 0px;">{{item.satuan}}</h6>
              </div>
              <input placeholder="Rp. 0" value="0" ng-keyup="change($event,$index)" type="tel" ng-model="item.amount">
            </div>
          </div>
        </div>
        <br />
      </div>
    </form>
    <div class="item padding" ng-if="directType == true && defaultValue!=0">
      <div class="container text-center" ng-if="defaultValue != 0">
        <br>
        <br>
        <p ng-if="defaultValue != 1" class="text-small text-wrap">Are you sure want to apply {{labelCategory}} ?
          <br>Default <b> Rp. {{defaultValue | number:0}}</b></p>
        <p ng-if="defaultValue == 1" class="text-small text-wrap">Are you sure want to apply {{labelCategory}} ? </p>
      </div>
    </div>
    <div ng-if="directType == false || defaultValue==0">
      <p class="bb text-medium padding uppercase">Total<span class="pull-right text-medium"> Rp.
        {{getTotal() | number:0}}</span></p>
    </div>

    <div class="row" ng-show="childrenList != ''" >
      <button ng-disabled="form.$invalid || getTotal() == 0 && (directType == false || defaultValue==0)" class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#FF9800" ng-click="submitForm()">Next</button>
      <!-- <button ng-click="submitForm()">Next</button> -->
    </div>
    <!-- {{categoryTypeIndentity}} -->
    <div ng-show="childrenList == ''" >
      <div class="row" ng-if="categoryTypeIndentity == 'Kacamata Family' || categoryTypeIndentity == 'Medical Family'" >
        <button ng-disabled="form.$invalid || getTotal() == 0 && (directType == false || defaultValue==0) || requestHeader.requestForFamily == null ||  requestHeader.requestForFamily == ''" class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#FF9800" ng-click="submitForm()">Next</button>
        <!-- <button ng-click="submitForm()">Next</button> -->
      </div>

      <div class="row" ng-if="categoryTypeIndentity != 'Kacamata Family' && categoryTypeIndentity != 'Medical Family'" >
        <button ng-disabled="form.$invalid || getTotal() == 0 && (directType == false || defaultValue==0)" class="btn waves-effect waves-light button button-balanced  button-block waves-effect waves-light" style="font-weight:bold;background-color:#FF9800" ng-click="submitForm()">Next</button>
        <!-- <button ng-click="submitForm()">Next</button> -->
      </div>
    </div>
  </ion-content>
</ion-view>
