
<ion-view title="Detail Request" class="bg-lightgrey">

<ion-content class="has-header" scroll="true">

<div class="item item-divider balanced-bg" style="margin-top:10px"><span class="pull-left">{{header.reqNo}}</span><span class="pull-right text-small calm">{{header.status}}</span></div> 
<div class="list">
    <div class="item">
        <div class="row">
            <h2 class="balanced col col-70" ng-if="header.requestForFamily != null && header.categoryType =='Medical'"><b>Medical Family</b></h2>
            <h2 class="balanced col col-70" ng-if="header.categoryType == 'Medical' && header.requestForFamily == null ||  header.categoryType == 'Kacamata Family'"><b> {{header.categoryType}}</b></h2>
           
            <p class="text-small">{{header.requestDate | date: 'dd MMM yyyy'}}</p>
        </div>


        <div class="list no-padding" ng-if="header.categoryType == 'Perjalanan Dinas' || header.categoryType == 'SPD Advance'">
              <div class="item item-icon-left text-small" href="#">
                <i class="icon ion-location text-larger"></i>
                {{header.origin}} - {{header.destination}}
              </div>
              <div class="item item-icon-left text-small" href="#">
                <i class="icon ion-calendar text-larger"></i>
                {{header.startDate | date: 'dd MMM yyyy'}} - {{header.endDate | date: 'dd MMM yyyy'}}
              </div>
              <div class="item item-icon-left text-small" href="#">
                <i class="icon ion-ios-list-outline text-larger"></i>
                {{header.spdType}}
              </div>
              <div class="item item-icon-left text-small" href="#">
                <i class="icon ion-ios-compose-outline text-larger"></i>
                {{header.remark}}
              </div>
        </div>
        
    </div>

    <div class="item item-body">
        <p class="bb text-small padding-horizontal uppercase">Expenses</p>
        <div class="edit padding-horizontal" >
            <label class="item item-input" ng-repeat="item in header.details">
                <span class="input-label col col-60">{{item.type}}</span>
                <input class="col col-40" ng-if="header.categoryType != 'Medical Overlimit'" style="padding-right:5px" type="text" value="Rp. {{item.amount | number:0}}"  disabled>
            </label>
        </div>
        <div class="item item-divider" ng-if="header.categoryType != 'Medical Overlimit'" style="text-align:right">TOTAL CLAIM Rp. {{header.totalAmount | number:0}}</div>

        <div class="item item-divider" ng-if="header.categoryType == 'Medical Overlimit'" style="text-align:right">TOTAL CLAIM Rp. -</div> <br>

        <div ng-if="header.refRequestHeaderObj != null"  class="item item-divider dark-bg" style="text-align:right">{{header.refRequestHeaderObj.categoryType}} - TOTAL Rp. {{header.refRequestHeaderObj.totalAmount | number:0}}</div> 
    </div>
</div>

<!--
<div class="list profile">
    <div class="item item-divider balanced-bg">Detail Approval</div> 
    <div class="edit padding-horizontal">
            <label class="item item-input">
                <span class="input-label">First name</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Last name</span>
                <input type="text" value="323.3232" disabled>
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email">
            </label>
    </div>
</div> -->
    <div class="row" ng-if="(header.categoryType == 'Perjalanan Dinas' && header.status=='approved') || header.categoryType == 'SPD Advance'">
        <button class="btn button-small waves-effect waves-light button button-balanced  button-block waves-effect waves-light" ng-click="printReport(header.employee,header.uuid)">Print Report</button>
    </div>
    <div class="row" ng-if="isHr==true && header.status=='approved'">
        <button class="btn button-small waves-effect waves-light button button-calm  button-block waves-effect waves-light" ng-click="confirmReject(header.dataApproval.id)">Reject</button>
    </div>
    <div class="row" ng-if= "header.dataApproval.processingStatus=='Request'" >
                <button class="btn button-small  waves-effect waves-light button button-calm  button-block waves-effect waves-light" ng-click="confirmCancel(header.dataApproval.id)">Cancel</button>
    </div>
</ion-content>
</ion-view>