<ion-view title="Change Photo profile" cache-view="false">
    <ion-content class="profile has-header bt-grey" scroll="true">
        <div class="header edit" ng-show="appMode=='mobile'">
            <img ng-src="{{imageData}}" ng-click="takePicture()"> 
        </div>
        <div  ng-show="appMode=='web'">
            <input id="inputImage" type="file" accept="image/*" ng-model="image" image="image" resize-max-height="1280" resize-max-width="720" resize-quality="0.8" resize-type="image/jpg" multiple="multiple" ng-image-compress/>
            <div ng-repeat="item in image"   >
                <img  ng-src="{{item.compressed.dataURL}}" style="height:100px; width:150px" />
            </div>
        </div>
        <!-- </div> -->
        <div class="item no-padding">
        
	         <div class="row text-center">
	            <!--<div class="col font-thin text-large dark" ng-click="goBack('app.profile')">Cancel</div>
	             <div class="col font-thin text-large balanced bl-grey" ng-click="save()">Save</div>-->
	            <button class="btn waves-effect button-small waves-light button button-balanced  button-block waves-effect waves-light" ng-click="save()">Submit</button>
	        </div>
        </div>
        

    </ion-content>
</ion-view>