<ion-view title="Register">

    <ion-content padding="false" class="has-header materialize">
        
        <div class="item no-padding">
            <div class="row">
                <div class="input-field col">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Company Code</label>
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col">
                    <input id="password" type="password" class="validate">
                    <label for="password">Confirm Password</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light button button-positive button-block waves-effect waves-light" ng-click="gotoHome()">Register</button>
            </div>

        </div>

        </ion-list>
    </ion-content>

</ion-view>