<ion-modal-view hide-nav-bar="true"  class="auth">
    
    <ion-content scroll="false">
        <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
            <div style="height:100%">
                <div ng-form="login_form" class="padding text-center" novalidate>
                    <br><br><br>
                    <p class="">Your version app is out of date. <br>
                        Please update to the latest version. </p>
                    
                    <div class="button-bar">
                    <button class="button button-balanced button-block waves-effect waves-light" ng-click="goToUpdate();">UPDATE</button>
                    </div>

                    <!-- <p ng-bind-html="version"></p> -->
                    <div class="row">
                       <!--  <p align="left">Whats New :<br />
                            * Bug Fixing<br />
                            * Claim Kacamata Family<br />
                            * Claim Medical Family <br />
                            * Account Transfer Options <br />
                            * View Your Faskes <br />
                            * Searching Approval by NPK / Name
                        </p>     -->

                        <p ng-bind-html="version" align="left"></p>
                    </div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-modal-view>