<ion-view title="Approval History" class="bg-lightgrey">
  <!-- <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-help-circled" ng-click="downloadUserGuide()"></button>
  </ion-nav-buttons> -->
  <ion-content class="has-header menu-card-with-bg">
    <div class="row height-20 text-center stable-bg">
      <div class="col padding">
        <div class="card contact rounded card-menu-shadow" ui-sref="app.formhistoryapproval">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/42/42_benefit.png"><br>
            <span class="text-small">Benefit</span>
          </div>
        </div>
      </div>
      <div class="col padding">
        <div class="card contact rounded card-menu-shadow" ui-sref="app.approvalhistorysub({submodule:'SPD'})"
          ng-if="profile.talentsAuthorities['SPD']">
          <div class="item item-text-wrap light-bg">
            <img src="img/talents/spd/spd_realization_42.png"><br>
            <span class="text-small">SPD</span>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
