<ion-view title="Approval Out Of Office" cache-view="false">
  <style type="text/css">
  .scroll {
    height: 100%;
  }

  </style>
  <ion-content class="has-header bt-grey profile" scroll="false">
    <div id="mapApproval" data-tap-disabled="true" style="display: block; background-color: #fafafa;height:30%"></div>
    <div class="row">
      <div class="col-sm-3">
        <button ng-disabled="clicked();" class="button button-positive button-block" ng-click="confirmAccept();">
          Approve
        </button>
      </div>&nbsp;
      <div class="col-sm-3">
        <button ng-disabled="clicked();" class="button button-balanced  button-block waves-effect waves-light" style="background: red;" ng-click="confirmReject()">
          Reject
        </button>
      </div>
    </div>
    
    <div style="height:50%;">
    <ion-scroll class="bg-lightgrey" delegate-handle="listApprovalScroll" direction="y" style="height:100%">
      <div class="bg-lightgrey">
        <ion-checkbox ng-repeat="item in dataApproval" ng-model="checkItems[item.id]" ng-checked="item.checked" ng-click="pointMarker(item.objectRefId);clicked();">
          {{item.employeeNo}} - {{item.fullName}}
          <h2 class="positive" ng-if="item.data.type == 'CHECKIN'">Check In</h2>
          <h2 class="assertive" ng-if="item.data.type == 'CHECKOUT'">Check Out</h2>
        </ion-checkbox>
      </div>
    </ion-scroll>
    </div>
    <div class="row">
      <button ng-disabled="isfirst == 1 " ng-click="loadPrevName();nextPage();" class="btn button button-block button-positive">Previous</button>&nbsp;
      <button ng-disabled="latest == 1 || dataApproval.length == 0" ng-click="loadMoreName();prevPage();" class="btn button button-block button-positive">Next </button>
    </div>
    <!-- </div> -->
  </ion-content>
</ion-view>
