<ion-view title="Your Daily Check In/Out">
    <ion-content class="has-header" scroll="false">
      <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
          <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()">
          </ion-refresher>
          <div class="bg-lightgrey" direction="y" style="height:100%">
            <div class="card hybrid" ng-repeat="daily in dataDaily">
              <div class="item item-icon-left" ng-if="daily.approvalStatus != 'Reject' && daily.approvalStatus != 'Approve' && daily.isOutOfOffice" ng-click="detailPurpose(daily.id)">
                <div class="right">
                  <i class="ion-ios-arrow-right pull-right"></i> &nbsp;
                  <!-- use formatting from backend -->
                  <!-- <h2>{{daily.actualTime | date:'HH:mm'}}</h2> -->
                  <h2>{{daily.actualTimeString}}</h2>

                </div>
                
                <div class ="positive" ng-if="!daily.isOutOfOffice">
                  <i class="col icon ion-home"></i><br />
                  <span class="text-small">{{daily.actualTime | date:'dd MMMM yyyy'}}</span>
                </div>
                <div class ="positive" ng-if="daily.isOutOfOffice">
                  <i class="icon ion-briefcase"></i><span class="text-small">{{daily.actualTime | date:'dd MMMM yyyy'}}</p>
                </div>
                <div class="inner-content">
                  <h2 class="text-medium" ng-if="daily.type == 'CHECKIN'"><b>Check In</b></h2>
                  <h2 class="text-medium" ng-if="daily.type == 'CHECKOUT'"><b>Check Out</b></h2>
                  <h2 class="text-medium" ng-if="daily.isOutOfOffice"><b>Out Of Office</b></h2>
                  <h2 class="text-medium" ng-if="!daily.isOutOfOffice"><b>In The Office</b></h2>
                  <!-- <h2 class="text-medium" ng-if="daily.purpose != null">Purpose : {{daily.purpose}}</h2> -->
                  <h2 class="text-medium" ng-if="daily.purpose != null && daily.purpose == 'MTGL'">Purpose : Meeting</h2>                  
                  <h2 class="text-medium" ng-if="daily.purpose != null && daily.purpose == 'TRN'">Purpose : Training/Seminar</h2> 
                  <h2 class="text-medium" ng-if="daily.purpose != null && daily.purpose == 'DNS'">Purpose : Perjalanan Dinas</h2>                  
                  <h2 class="text-medium" ng-if="daily.remark != null">Remark : {{daily.remark}}</h2>
                  <h2 class="text-medium" ng-if="daily.remark == null || daily.remark == ''"></h2>
                </div>
                <div class="right padding" ng-if="daily.approvalStatus == 'Request' && daily.approvalStatus != null">
                  <h2 class="text-medium">Pending</h2>
                </div>

                <div class="right padding" ng-if="daily.approvalStatus == 'Approve' && daily.approvalStatus != null">
                  <h2 class="text-medium">Approved</h2>
                </div>

                <div class="right">
                  <div class="" style="width:150px; text-align: center;" ng-if="daily.approvalStatus == 'Reject' && daily.approvalStatus != null">
                    <div class="right padding" style="width:60%">
                      <h2 class="text-medium">Rejected</h2>
                    </div>                 
                  </div>

                </div>


                <div class="row" ng-if="daily.approvalStatus == 'Reject' && daily.approvalStatus != null">
                  <div class="right margin-vertical wrap item-text-wrap" style="word-wrap: break-word; word-break: break-all;">
                    <h2 class="text-medium">Reason Rejected:</h2>
                    <p class="text-small" >{{daily.reasonReject}} </p>
                  </div>
                </div>

                <h2 class="text-medium" ng-if="daily.approvalStatus != null || daily.approvalStatus == ''"></h2>
              </div>

              <div class="item item-icon-left" ng-if="daily.approvalStatus != 'Reject' && daily.approvalStatus != 'Approve' && !daily.isOutOfOffice">
                <div class="right">
                  <!-- use formatting from backend -->
                  <!-- <h2>{{daily.actualTime | date:'HH:mm'}}</h2> -->
                  <h2>{{daily.actualTimeString}}</h2>

                </div>
                
                <div class ="positive" ng-if="!daily.isOutOfOffice">
                  <i class="col icon ion-home"></i><br />
                  <span class="text-small">{{daily.actualTime | date:'dd MMMM yyyy'}}</span>
                </div>
                <div class ="positive" ng-if="daily.isOutOfOffice">
                  <i class="icon ion-briefcase"></i><span class="text-small">{{daily.actualTime | date:'dd MMMM yyyy'}}</p>
                </div>
                <div class="inner-content">
                  <h2 class="text-medium" ng-if="daily.type == 'CHECKIN'"><b>Check In</b></h2>
                  <h2 class="text-medium" ng-if="daily.type == 'CHECKOUT'"><b>Check Out</b></h2>
                  <h2 class="text-medium" ng-if="daily.isOutOfOffice"><b>Out Of Office</b></h2>
                  <h2 class="text-medium" ng-if="!daily.isOutOfOffice"><b>In The Office</b></h2>
                  <!-- <h2 class="text-medium" ng-if="daily.purpose != null">Purpose : {{daily.purpose}}</h2> -->
                  <h2 class="text-medium" ng-if="daily.purpose != null && daily.purpose == 'MTGL'">Purpose : Meeting</h2>                  
                  <h2 class="text-medium" ng-if="daily.purpose != null && daily.purpose == 'TRN'">Purpose : Training/Seminar</h2> 
                  <h2 class="text-medium" ng-if="daily.purpose != null && daily.purpose == 'DNS'">Purpose : Perjalanan Dinas</h2> 
                  <h2 class="text-medium" ng-if="daily.remark != null">Remark : {{daily.remark}}</h2>
                  <h2 class="text-medium" ng-if="daily.remark == null || daily.remark == ''"></h2>
                </div>
                <div class="right padding" ng-if="daily.approvalStatus == 'Request' && daily.approvalStatus != null">
                  <h2 class="text-medium">Pending</h2>
                </div>

                <div class="right padding" ng-if="daily.approvalStatus == 'Approve' && daily.approvalStatus != null">
                  <h2 class="text-medium">Approved</h2>
                </div>

                <div class="right">
                  <div class="" style="width:150px; text-align: center;" ng-if="daily.approvalStatus == 'Reject' && daily.approvalStatus != null">
                    <div class="right padding" style="width:60%">
                      <h2 class="text-medium">Rejected</h2>
                    </div>                 
                  </div>

                </div>


                <div class="row" ng-if="daily.approvalStatus == 'Reject' && daily.approvalStatus != null">
                  <div class="right margin-vertical wrap item-text-wrap" style="word-wrap: break-word; word-break: break-all;">
                    <h2 class="text-medium">Reason Rejected:</h2>
                    <p class="text-small" >{{daily.reasonReject}} </p>
                  </div>
                </div>

                <h2 class="text-medium" ng-if="daily.approvalStatus != null || daily.approvalStatus == ''"></h2>
              </div>

              <div class="item item-icon-left" ng-if="daily.approvalStatus == 'Reject' || daily.approvalStatus == 'Approve' || daily.approvalStatus == 'Pending'">
                <div class="right">
                  <!-- use formatting from backend -->
                  <!-- <h2>{{daily.actualTime | date:'HH:mm'}}</h2> -->
                  <h2>{{daily.actualTimeString}}</h2>
                </div>
                
                <div class ="positive" ng-if="!daily.isOutOfOffice">
                  <i class="col icon ion-home"></i><br />
                  <span class="text-small">{{daily.actualTime | date:'dd MMMM yyyy'}}</span>
                </div>
                <div class ="positive" ng-if="daily.isOutOfOffice">
                  <i class="icon ion-briefcase"></i><span class="text-small">{{daily.actualTime | date:'dd MMMM yyyy'}}</p>
                </div>
                <div class="inner-content">
                  <h2 class="text-medium" ng-if="daily.type == 'CHECKIN'"><b>Check In</b></h2>
                  <h2 class="text-medium" ng-if="daily.type == 'CHECKOUT'"><b>Check Out</b></h2>
                  <h2 class="text-medium" ng-if="daily.isOutOfOffice"><b>Out Of Office</b></h2>
                  <h2 class="text-medium" ng-if="!daily.isOutOfOffice"><b>In The Office</b></h2>
                  <!-- <h2 class="text-medium" ng-if="daily.purpose != null">Purpose : {{daily.purpose}}</h2> -->
                  <h2 class="text-medium" ng-if="daily.purpose != null && daily.purpose == 'MTGL'">Purpose : Meeting</h2>                  
                  <h2 class="text-medium" ng-if="daily.purpose != null && daily.purpose == 'TRN'">Purpose : Training/Seminar</h2> 
                  <h2 class="text-medium" ng-if="daily.purpose != null && daily.purpose == 'DNS'">Purpose : Perjalanan Dinas</h2> 
                  <h2 class="text-medium" ng-if="daily.remark != null">Remark : {{daily.remark}}</h2>
                  <h2 class="text-medium" ng-if="daily.remark == null || daily.remark == ''"></h2>
                </div>
                <div class="right padding" ng-if="daily.approvalStatus == 'Request' && daily.approvalStatus != null">
                  <h2 class="text-medium">Pending</h2>
                </div>

                <div class="right padding" ng-if="daily.approvalStatus == 'Approve' && daily.approvalStatus != null">
                  <h2 class="text-medium">Approved</h2>
                </div>

                <div class="right">
                  <div class="" style="width:150px; text-align: center;" ng-if="daily.approvalStatus == 'Reject' && daily.approvalStatus != null">
                    <div class="right padding" style="width:60%">
                      <h2 class="text-medium">Rejected</h2>
                    </div>                 
                  </div>

                </div>


                <div class="row" ng-if="daily.approvalStatus == 'Reject' && daily.approvalStatus != null">
                  <div class="right margin-vertical wrap item-text-wrap" style="word-wrap: break-word; word-break: break-all;">
                    <h2 class="text-medium">Reason Rejected:</h2>
                    <p class="text-small" >{{daily.reasonReject}} </p>
                  </div>
                </div>

                <h2 class="text-medium" ng-if="daily.approvalStatus != null || daily.approvalStatus == ''"></h2>
              </div>

            </div>
            <div class="row" ng-if="dataDaily.length != 0" ng-show="isLoadMoreShow" style="padding-top:0px;min-height:120px">
              <button style="height:30px" class="button button-block button-outline button-positive" ng-click="loadMoreListDaily();">Load More Results</button>
            </div>
            <div class="item" ng-if="dataDaily.length == 0">
              <div class="col col-100">
                <h2>No data available</h2>
                <p>Please Pull to refresh</p>
              </div>
            </div>
          </div>
          </div>
      </ion-scroll>
    </ion-content>
</ion-view>
  


  