<ion-view title="History Check In/Out">

    <ion-content class="has-header" scroll="true">
      <!-- <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()"></ion-refresher> -->
      <div class="bg-lightgrey">
        <!-- <ion-scroll class="bg-lightgrey" direction="y" style="max-height:100vh;"> -->
          <!-- <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="refresh()"></ion-refresher> -->



            <div class="row height-20 text-center stable-bg">
                <div class="col  padding">
                    <div class="card contact">
                        <div class="item item-text-wrap positive-bg" style="background-color :green;" ui-sref="app.dailycheckin">
                            <!-- <img src="img/talents/42/42_timemanagement.png"> -->
                            <i class= "icon ion-clock light" style="font-size : 28pt;"></i>
                            <br>
                            <span class="text-medium light ">Your Daily Check In/Out</span> 
                        </div>
                    </div>
                </div>
            </div>
            



        <!-- </ion-scroll> -->
      </div>
    </ion-content>
  </ion-view>
  